/*登陆头部 开始*/
body{
	position:relative;
	background:#f3f5f7;
	font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
}
#header{
	height:.45rem;
	line-height:.45rem;
	background:#f9f9f9;
	color:#616161;
	font-size:.17rem;
	border-bottom:.01rem solid #bbb;
	z-index:999;
	width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:0;
    text-align:center;
}
.icon{
	width:.22rem;
	height:.22rem;
	overflow:hidden;
	position:absolute;
	background:url(../../images/login/iconBg.png) no-repeat;
	background-size:100% auto;
	display:inline-block;
}
.icon_goback{
	top:.12rem;
	left:.12rem;
	background-position:0 -.63rem;
}
.text_header{
	font-size:.17rem;
	font-family:"Helvetica Neue",Helvetica,Tahoma,sans-serif;
}
/*登陆头部 结束*/


/*登陆内容 开始*/
.login_index .page{
	background:#fff;
	overflow-y:auto;
	overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:0;
}
.login_tab{
	height:.45rem;
	line-height:.44rem;
	font-size:.14rem;
	border-bottom:.01rem solid #d7d7d7;
}
.username_login{
	width:50%;
	height:100%;
	float:left;
	text-align:center;
}
.sms_login{
	width:50%;
	height:100%;
	float:right;
	text-align:center;
}
span.login_selected{
	border-bottom:.02rem solid #f23030;
	padding:.12rem .1rem;
}
.login_index .wrap{
	max-width:7.5rem;
	margin:0 auto;
	padding:0 .2rem .2rem .2rem;
}


	/*账号登录 开始*/
	.login_index .input_container{
		position:relative;
		width:100%;
		height:.48rem;
		line-height:.48rem;
		overflow:hidden;
		padding:0 .05rem;
		background-color:#fff;
		border-bottom:.01rem solid #d7d7d7;
	    -moz-box-sizing: border-box;
   		box-sizing: border-box;
	}
	.input_container>div{
		position:absolute;
		width:.6rem;
		display:inline-block;
		font-family:PingFang-SC-Regular;
		text-align:left;
		font-size:.14rem;
	}
	.username{
		width:100%;
		padding:0 .3rem 0 .6rem;
		line-height:.48rem;
		font-size:.14rem;
	}
	input{
		border-radius: 0;
	    border: 0;
	    display: inline-block;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    font-family: PingFang-SC-Regular;
        font-size: .14rem;
    	outline: 0;
	}
	.icon_clear{
		top:.12rem;
		right:.1rem;
		background-position:0 0;
	}
	.tel_clear{
		right:1.18rem;
		display:none;
	}
	.password{
		width:100%;
		padding:0 .7rem 0 .6rem;
		line-height:.48rem;
		font-size:.14rem;
	}
	.label_checkbox{
		position:absolute;
		right:.05rem;
		top:.15rem;
		height:.18rem;
		overflow:hidden;
	}
	.label_checkbox .checkbtn{
		display:block;
		width:.3rem;
		height:.18rem;
		background:url(../../images/login/hide_password.png) no-repeat;
		background-size:100% auto;
		background-clip:padding-box;
		color:#fff;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.label_checkbox .checkbtn.active{
		background:url(../../images/login/show_password.png) no-repeat;
		background-size:cover;
	}
	.imgverify{
		width:100%;
		padding:0 .8rem 0 .6rem;
		line-height:.48rem;
		text-align:center;
		font-size:.14rem;
	}
	.code_box{
		width:.75rem;
		height:.23rem;
		right:.05rem;
		top:.125rem;
		border-left:.01rem solid #d7d7d7;
		display:inline-block;
		position:absolute;
	}
	/*账号登录 结束*/


	/*短信验证码登录 开始*/
	.sms_img_verify{
		width:100%;
		padding:0 .8rem 0 0;
		line-height:.48rem;
		text-align:left;
		font-size:.14rem;
	}
	.sms_code_box{
		width:.9rem;
		height:.23rem;
		right:0;
		top:.125rem;
		border-left:.01rem solid #d7d7d7;
		position:absolute;
	}
	.sms_input_box{
		position:relative;
	}
	.btn_active{
		background-color: #f23030;
    	color: #fff;
	}
	.area_box{
		position:absolute;
		width:.62rem;
		text-align:right;
		font-size:.14rem;
	}
	.area_icon{
		width: 0;
	    height: 0;
	    border-left: .04rem solid transparent;
	    border-right: .04rem solid transparent;
	    border-top: .05rem solid #ABABAB;
	    display: inline-block;
	    margin: 0 .07rem 0 .02rem;
	    padding-top: .01rem;
	}
	.telphone{
		width:100%;
		padding:0 1.2rem 0 .6rem;
		line-height:.48rem;
		text-align:left;
		font-size:.14rem;
	}
	.sms_input_box>.mesg_code{
		width:1.18rem;
		border-left:.01rem solid #d7d7d7;
		padding:0;
		height:.23rem;
		line-height:.23rem;
		top:.125rem;
		outline:0;
		background-color:#fff;
		-webkit-box-shadow: none;
    	box-shadow: none;
    	position:absolute;
    	right:0;
		color:rgb(51,51,51);
	}
	.mesg_disable{
		color:#848689;
	}
	.telCode{
		width:100%;
		padding-right:.32rem;
		line-height:.48rem;
		font-size:.14rem;
	}
	/*短信验证码登录 结束*/
	.notice{
		font-size:.12rem;
		line-height:.3rem;
		color:#f23030;
		min-height:.30rem;
		text-align:left;
	}
	.btn{
		display:block;	
		height:.45rem;
		line-height:.46rem;
		border-radius:.02rem;
		border:0;
		font-size:.14rem;
		text-align:center;
	}
	.btn_gray{
		color:#848689;
		background:#eee;
	}
	.btn_onestep{
		color:#f23030 !important;
		border:.01rem solid #f23030;
		background:#fff;
		margin-top:.1rem;
		height:.47rem;
	}
	.quick_nav{
		margin-top:.2rem;
		text-align:center;
		position:relative;
		overflow:hidden;
	}
	.quick_nav a:first-child{
		float:left;
		position: relative;
	}
	.quick_nav>a{
		color:#333;
		text-indent:.25rem;
		line-height:.22rem;
		font-family:PingFang-SC-Regular;
		display:inline-block;
		font-size:.12rem;
	}
	.quickReg{
		float:right;
		position: relative;
	}
	.icon_clock{
		background-position:0 -.23rem;
		left:0;
	}
	.icon_reg{
		background-position:0 -.42rem;
		left:0;
		
	}
	.quick_login{
		margin-top:1.05rem;
		height:.85rem;
		position: relative;
		padding:.245rem .1rem 0 .1rem;
		border-top:.01rem solid #d7d7d7;
		box-sizing:content-box;
		-webkit-box-sizing:content-box;
	}
	.quick_login>h4{
		position:absolute;
		top:-.19rem;
		left:50%;
		background:#fff;
		padding:.05rem .15rem;
		color:#bfbfbf;
		-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
    	font-size:.14rem;
    	font-weight:bold;
	}
	.quick_login>a{
		position: relative;
		width:.72rem;
		color:#616161;
		margin:0 .1rem;
		font-size:.14rem;
		text-align:center;
		display:inline-block;
	}
	.icon_qq{
		left:.60rem;
		background-position:0 -1.29rem;
		width:.22rem;
		height:.22rem;
	}
	.icon_wx{
		left:.60rem;
		background-position:0 -1.55rem;
		width:.22rem;
		height:.22rem;
	}
	.icon_money{
		left:1.08rem;
		background-position:0 -2.21rem;
		width:.22rem;
		height:.22rem;
	}
	.agreement_tips{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:.3rem;
		font-size:.14rem;
		line-height:.3rem;
	}
	.agreement_tips>p{
		text-align:center;
	}
	.agreement_tips a{
		width:auto;
		margin:0;
		color:#333;
		text-decoration:underline;
	}
/*登陆内容 结束*/

.pop_dialog{
	text-align:left;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:999;
	background:rgba(0,0,0,.5);
	position:absolute;
}
.pop_body{
	width: 3rem;
    padding: .15rem;
    left: 50%;
    top: 50%;
    background-color: #fff;
    margin-left: -1.5rem;
    margin-top: -.92rem;
    border-radius: .02rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
}
.pop_msg{
	font-size: .16rem;
    line-height: .22rem;
    margin-bottom: .22rem;
    color: #333;
}
.pop_btns>a{
	height:.4rem;
	display: inline-block;
    width: 1.2rem;
    line-height: .4rem;
    border-radius: .02rem;
    font-size:.14rem;
    text-align:center;
}
.pop_btns .btn_cancel{
	float: left;
    background-color: #f3f5f7;
    color: #616161;
}
.pop_btns .btn_continue{
    float: right;
    background-color: #f23030;
    color: #fff;
}
/*验证历史收货人弹层 开始*/
.verify_dialog{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:999;
	text-align:left;
	background:rgba(0,0,0,.5);
	font-size:0;
}
.verify_body{
	width:2.8rem;
	border-radius:.05rem;
	padding:.25rem .2rem;
	margin:-1.2rem 0 0 -1.4rem;
	position:absolute;
	top:50%;
	left:50%;
	font-family: "Hiragino Sans GB W3";
	background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:0;
}
.verify_msg{
	font-size:.15rem;
	line-height:.2rem;
	color:#4d4d4c;
}
.verify_input_box{
	font-size:.14rem;
	text-align:left;
	margin-top:.25rem;
}
.verify_input{
	width: 100%;
    padding-bottom: .1rem;
    border-bottom: .005rem solid #bfbfbf;
    color: #4d4d4c;
    font-size:.14rem;
}
.verify_notice{
	font-size: .09rem;
    color: #f23030;
    text-align: left;
    margin-top: .06rem;
    margin-bottom: .15rem;
}
.verify_btns{
	height:.4rem;
}
.verify_btns>a{
	display:inline-block;
	width:1.15rem;
	line-height:.4rem;
	border-radius:.02rem;
	text-align:center;
	font-size:.14rem;
}
.verify_btns .verify_cancel{
	float:left;
	color:#616161;
	background:#f3f5f7;
}
.verify_btns .verify_continue{
	float:right;
	color:#fff;
	background:#f23030;
}

/*验证历史收货人弹层 结束*/


/*登录-忘记密码1 开始*/
.lable_name{
	position:absolute;
	top:0;
	left:0;
	width:.65rem;
	color:#000;
	height:.44rem;
	line-height:.44rem;
	text-align:center;
	font-size:.14rem;
	z-index:99;
}
.forget_usernumber .page{
	width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#f3f5f7;
    padding:0 .2rem .2rem .2rem;
}
.forget_usernumber .findpwdPage{
	max-width:7.5rem;
	margin:0 auto;
	padding-top:.15rem;
}
.forget_usernumber .input_container{
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: .15rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0 .01rem #ededed;
    box-shadow: 0 0 0 .01rem #ededed;
    line-height:.44rem;
    height:.44rem;
}
.forget_usernumber .username{
	position:absolute;
	line-height:.44rem;
	padding:0 .35rem 0 .7rem;
	font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
}
.imgVerify{
	padding:0 1.2rem 0 .1rem;
	position:absolute;
	height:.44rem;
	line-height:.44rem;
	font-size:.14rem;
	font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
}
.img_code{
    position: absolute;
    right: 0;
    top: .11rem;
    width: .84rem;
    height: .22rem;
    border-left: .01rem solid #bbb;
    display:inline-block;
}
.img_code>img{
	margin-top: -.06rem;
    width: .84rem;
    height: .34rem;
    border:.01rem solid transparent;
    position:absolute;
}
.forget_usernumber .btn{
    width: 100%;
    margin-top: .15rem;
    display: block;
    text-align: center;
    color:#fff;
    font-size:.15rem;
}
.forget_usernumber .btn.btn_active{
	background-color:#f23030;
}
.mesgClear{
	right:.95rem;
}
.forget_toast{
	bottom:2rem !important;
}
/*登录-忘记密码1 结束*/

/*登录-短信验证码 开始*/
html,body,.login_list_page{
	height:100%;
}
.receive_msg .page{
	width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#f3f5f7;
    padding:0 .2rem .2rem .2rem;
}
.receive_msg .findpwdPage{
	max-width:7.5rem;
	margin:0 auto;
	padding-top:.15rem;
}
.page_notice{
	margin-top: .15rem;
    width: 100%;
    margin-bottom: .3rem;
    color: #f23030;
    font-size:.14rem;
    font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
    line-height:.21rem;
}
.page_txt{
	font-size:.14rem;
	line-height:.21rem;
}
.receive_msg .input_box{
	position: relative;
    height: .44rem;
    line-height: .44rem;
    margin-top: .15rem;
    padding-bottom: .25rem;
    padding-right: 1.4rem;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
}
.receive_msg .input_container{
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: .15rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0 .01rem #ededed;
    box-shadow: 0 0 0 .01rem #ededed;
    line-height:.44rem;
    height:.44rem;
}
.small_input{
	padding:0 .3rem 0 .1rem;
	position:absolute;
	height:.44rem;
	line-height:.44rem;
	font-size:.14rem;
}
.getMes_btn{
	width: 1.3rem;
    height: .44rem;
    line-height: .4rem;
    background-color: #fff;
    color: #f23030;
    border: 1px solid #f23030;
    outline: 0;
    position:absolute;
    top:0;
    right:0;
}
.receive_msg .btn{
    width: 100%;
    margin-top: .15rem;
    display: block;
    text-align: center;
    color:#fff;
    font-size:.15rem;
}
.btn.btn_active{
	background-color:#f23030;
}
.question_box{
	padding-top:.1rem;
	color:#848689;
	font-size:.14rem;
	line-height:.21rem;
}
.question_box>p{
	font-size:.14rem;
}
.question_box>p>a{
	color:#616161;
	text-decoration:underline;
}
.toast_mask{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:999;
}
.toast{
	bottom:.25rem;
    left: 50%;
    position: absolute;
    padding: .1rem .15rem;
    font-size: .14rem;
    color: #fff;
    border-radius: 2px;
    background-color: rgba(0,0,0,.8);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.toast_ui{
    padding: .1rem .15rem;
    color: #fff;
    z-index: 200;
    background: 0;
    margin-top: -1.8rem;
}
.toast{
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 80%;
    display: none;
    background: #2B2B2B;
    padding: .1rem .15rem;
    display: inline-table;
    text-align: left;
    border-radius: 3px;
}
.recive_toast{
	bottom:2.1rem;
	width:1.6rem;
}
.maskfadeout {
    display: block;
    -webkit-animation: fadeout 3s linear;
    animation: fadeout 3s linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@-webkit-keyframes fadeout {
    0%,80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeout {
    0%,80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

/*登录-短信验证码 结束*/

 	input::-webkit-input-placeholder { /* WebKit browsers */
　　color:red;
　　}
　　input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#999;
　　}
　　input::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#999;
　　}
　　input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#999;
　　}