<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品搜索-京东商城</title>
	<meta name="author" content="pengli">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-cappable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Chache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="description" content="京东JD.COM是国内专业的网上购物商城，为您提供【京东超市】月饼 华美月饼礼盒广式蛋黄月饼 花韵月语600g价格、图片、品牌、评论、等相关信息. ">
	<meta name="Keywords" content="【京东超市】月饼 华美月饼礼盒广式蛋黄月饼 花韵月语600g, 京东">
<!--设置html的font-size 开始-->
	<script type="text/javascript">
	function htmlFont(){
		var explorer=navigator.userAgent;
		if(explorer.indexOf("Opera")>=0){
			winwid=screen.width;
		}else{
			winwid=document.getElementsByTagName('html')[0].offsetWidth;
		}
		fosi=winwid/320*100;
		document.getElementsByTagName('html')[0].style.fontSize=fosi+'px';
	}
	htmlFont();
	window.addEventListener('resize',htmlFont);
	</script>
<!--设置html的font-size 开始-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/detial_page/detial_page.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
</head>
<body>
	<div class="m_common_top">
		<!--新人专享是否显示 开始-->
		<div id="content">
			<div class="mjd_floor_item" id="layout_appdown_view">
				<div class="download_pannel" id="layout_appdown">
					<div class="pannel_bg">
						<img src="/images/index/download_bg.png" alt="固定头部背景图">
					</div>
					<div class="download_close" id="download_close">
						<img src="/images/index/icon-close-banner.png" alt="关闭按钮">
					</div>
					<div class="download_logo">
						<img src="/images/index/top-jdlogo.png" alt="京东标志">
					</div>
					<div class="download_txt">
						<em class="download_txt_up">打开京东APP购物</em>
						<em class="download_txt_down">新人领188元红包</em>
					</div>
					<div class="download_action">
						<a id="download_openapp" href="#">立即打开</a>
					</div>
				</div>
			</div>
		</div>
		<!--新人专享是否显示 结束-->



		<div id="m_common_header">
			<header class="jd_header">

				<!--商详头部 开始-->
				<div class="jd_header_new_bar" id="itemProductHead">
					<div id="m_common_header_goback" class="jd_header_icon_back">
						<span></span>
					</div>

					<ul id="header_tabs" class="jd_header_title">
						<li class="header_tab_item J_ping">
							<span class="header_tab_selected">商品</span>
						</li>

						<li class="header_tab_item J_ping" id="detialInfo">
							<span>详情</span>
						</li>

						<li class="header_tab_item J_ping" id="pingjia">
							<span>评价</span>
						</li>
					</ul>


					<div id="m_common_header_jdkey" class="jd_header_icon_short J_ping">
						<span></span>
					</div>
				</div>
				<!--商详头部 结束-->

				<!--图文详情头部 开始-->
				<div class="jd_header_new_bar" id="itemDetailHead" style="display:none">
					<div id="m_common_header_goback" class="jd_header_icon_back">
						<span></span>
					</div>

					<div class="jd_header_title">图文详情</div>

					<div id="m_common_header_jdkey" class="jd_header_icon_short J_ping">
						<span></span>
					</div>
				</div>
				<!--图文详情头部 结束-->


				<!--首页-浏览记录头部 开始-->
				<ul class="jd_header_shortcut" id="m_common_header_shortcut" style="display:none">

					<li>
						<a href="#">
							<span class="shortcut_home"></span>
							<strong>首页</strong>
						</a>
					</li>

					<li class="current">
						<a href="#">
							<span class="shortcut_categories"></span>
							<strong>分类搜索</strong>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="shortcut_cart"></span>
							<strong>购物车</strong>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="shortcut_my_account"></span>
							<strong>我的京东</strong>
						</a>
					</li>

					<li>
						<a href="#">
							<span class="shortcut_my_history"></span>
							<strong>浏览记录</strong>
						</a>
					</li>

				</ul>
				<!--首页-浏览记录头部 结束-->

				<!--普通商品详情分支头部 开始-->
				<div id="detial_fixed" class="sift_tab" style="display:none">
					<ul class="tab_lst" id="tab_lst">
						<li>
							<a href="#" class="on">商品介绍</a>
						</li>

						<li>
							<a href="#" class="tab_lst_a">规格参数</a>
						</li>

						<li>
							<a href="#" class="tab_lst_a">包装售后</a>
						</li>
					</ul>
				</div>
				<!--普通商品详情分支头部 结束-->

				<!--商品评价分支头部 开始-->
				<ul id="tabs" style="display:none">
					<li class="tab_item tab_hover">
						<p class="tab_assess_title">全部评价</p>
						<p class="tab_assess_num tab_assess_rednum"></p>
					</li>

					<li class="tab_item">
						<p class="tab_assess_title">好评</p>
						<p class="tab_assess_num"></p>
					</li>

					<li class="tab_item">
						<p class="tab_assess_title">中评</p>
						<p class="tab_assess_num"></p>
					</li>

					<li class="tab_item">
						<p class="tab_assess_title">差评</p>
						<p class="tab_assess_num"></p>
					</li>

					<li class="tab_item">
						<p class="tab_assess_title">有图</p>
						<p class="tab_assess_num"></p>
					</li>

				</ul>
				<!--商品评价分支头部 结束-->
			</header>
		</div>

	</div>


	<!--列表内容 开始-->
	<div id="mainLayout" class="mainLayout">
		<div id="mainStay" class="new_wt">
			<div id="miblebox" class="goods_img_box">

				<!--头部等顶部部分占位 开始-->
				<div class="hold_div_top" id="hold_div_top"></div>
				<!--头部等顶部部分占位 结束-->


				<!--上层页面外容器 开始-->
				<div class="header_slider" id="header_slider">
					<div class="header_slider_con">
						<ul>

							<!--商品 开始-->
							<li id="productTabLi" class="header_slider_item">
								<div id="mainLayout" class="page_content">

									<!--焦点图片 开始-->
									<div class="scroll_imgs">
										<div id="slide" class="slide" style="width:3.2rem; height:3.2rem">
											<ul id="slide_ul" style="width:16rem; height:3.2rem">
												<li class="J_ping" style="transition:all 300ms ease; height:3.2rem; width:3.2rem; transform:translate3d(0,0,0); z-index:10;">
													<img src="/images/detial_page/59b5e131N5f07c694.jpg!q70.jpg" alt="" class="J_ping">
												</li>

												<li class="J_ping" style="transition:all 300ms ease; height:3.2rem; width:3.2rem; transform:translate3d(0,0,0); z-index:10;">
													<img src="/images/detial_page/599ccdaaN0bb79c90.jpg!q70.jpg" alt="" class="J_ping">
												</li>

												<li class="J_ping" style="transition:all 300ms ease; height:3.2rem; width:3.2rem; transform:translate3d(0,0,0); z-index:10;">
													<img src="/images/detial_page/599ccdb6Nf80067c1.jpg!q70.jpg" alt="" class="J_ping">
												</li>

												<li class="J_ping" style="transition:all 300ms ease; height:3.2rem; width:3.2rem; transform:translate3d(0,0,0); z-index:10;">
													<img src="/images/detial_page/599ccdb9N007eab95.jpg!q70.jpg" alt="" class="J_ping">
												</li>

												<li class="J_ping" style="transition:all 300ms ease; height:3.2rem; width:3.2rem; transform:translate3d(0,0,0); z-index:10;">
													<img src="/images/detial_page/599ccdbeNc0529b89.jpg!q70.jpg" alt="" class="J_ping">
												</li>
											</ul>

											<div id="tittup" class="tittup">
												<div class="arrow_box">
													<em class="arrow"></em>
													<em class="arrow2"></em>
												</div>
												<span class="inner">滑动查看详情</span>
											</div>

											<div class="page_nub" id="slidePageNub">
												<em class="fz18" id="nowPage">1</em>
												<em class="nub_br">/</em>
												<em class="fz12" id="totalPage">5</em>
											</div>
										</div>
									</div>
									<!--焦点图片 结束-->


									<!--商品描述 开始-->
									<div class="goods_part bdr_tab price_floor">
										<div class="basic_info borb">
											<!--商品名称 开始-->
											<div class="prod_title">
												<a class="detialInfoClick">
													<span class="title_text_wrap">
														<i class="label_icon_div have_not_icon_div red_div icon_pos">
															<span class="lable_text white_text">京东配送</span>
														</i><span class="title_text">【京东超市】月饼 华美月饼礼盒广式蛋黄月饼 花韵月语600g</span>
													</span>
												</a>
											</div>
											<!--商品名称 结束-->

											<!--商品价格 开始-->
											<div class="prod_price_warp" id="js_normelPrice">
												<div class="prod_price">
													<span class="yang_pic"></span>
													<span class="yang_pic_price" id="jdPrice_copy">
														<span class="big_price" id="big_price">45</span><span class="small_price" id="small_price">.90</span>
													</span>
												</div>

												<div class="depreciate_arrival_inform_box">
													<span id="depreciateInformPr" class="depreciate_arrival_inform">降价通知</span>
												</div>
											</div>
											<!--商品价格 结束-->

											<div class="prod_act">【京东仓配 时效保证】<a href="#">中秋月饼提前囤，团购享优惠400-610-1360转806866</a></div>
										</div>
									</div>
									<!--商品描述 结束-->

									<!--plus优先购预约 开始-->
									<div id="couponActivity" class="goods_part bdr_tab mar_t">
										<div id="whiteBarInfo" class="prod_whitebar whitebar_flick bdr_b J_ping">
											<span class="part_note_msg">白条</span>
											<div class="prod_whitebar_txt">【白条支付】即享3期免息</div>
										</div>
									</div>

									<div class="prod_promotion bdr_b borb arrow_fold">
										<div id="prodPromotion" class="prod_promotion_container promotion_up J_ping">
											<span class="part_note_msg">促销</span>
											<div class="promotion_content arrow_fold">
												<div class="promotion_item promotion_info">
													<span>可享受以下优惠</span>
												</div>

												<div class="promotion_item item_import" id="promotion_item" style="display:none">
													<i class="label_icon_div have_not_icon_div">
														<span class="label_text">限制</span>
													</i>
													<a href="#">
														<span class="promotion_item_text">此价格不与套装优惠同时享受</span>
													</a>
												</div>

												<div class="promotion_item item_import J_ping" style="display:none">
													<i class="label_icon_div have_not_icon_div">
														<span class="label_text">赠品</span>
													</i>
													<a href="#">
														<span class="promotion_item_text">手提袋 单拍不发货 花韵月语（赠完即止）</span>
														<span class="promotion-left">
														<em class="icon_arrow icon_arrow_right"></em>
												</span>
													</a>
												</div>

												<span class="promotion-left">
													<em class="icon_arrow icon_arrow_position arrow_fold" id="promoicon_arrow"></em>
												</span>
											</div>
										</div>
									</div>
									<!--plus优先购预约 结束-->


									<!--已选行 开始-->
									<div class="goods_part bdr_tab bold mar_t">
										<div id="natureID" class="prod_spec">
											<div class="spec_desc">
												<span class="part_note_msg">已选</span>
												<div id="specDetailInfo" class="base_txt">
													<span class="amount" id="amount">1件</span>
												</div>
												<em class="icon_popups" id="icon_popups"></em>
											</div>
										</div>
									</div>
									<!--已选行 结束-->

									<!--送至地点 开始-->
									<div class="goods_part bdr_t mar_t loc_floor">
										<div class="send_to">
											<span class="col01 part_note_msg">送至</span>
											<div id="btn_select_region" class="send_loc">
												<div class="address adress01 J_ping">
													<span id="provinceName">北京</span>
													<span id="cityName">朝阳区</span>
													<span id="countyName">管庄</span>
													<span id="townName"></span>
													<i class="icon icon_location" id="icon_location"></i>
												</div>
											</div>
										</div>

										<p class="row01col03 stockStatus" id="stockStatus">
											<span class="isExist">现货，11:10前下单,预计今天(09月18日)送达</span>
											<span class="send_time">&nbsp</span>
										</p>

										<div class="provide_srv" id="fare">
											<span class="part_note_msg">运费</span>
											<p class="provider base_txt" id="fareMoney">在线支付免运费</p>
										</div>
									</div>

									<div class="service_floor J_ping">
										<div class="service_tip_module">
											<i class="service_icon support_service_icon"></i>
											<span class="service_icon_text" id="service_text1">京东发货&店铺售后</span>
										</div>

										<div class="service_tip_module">
											<i class="service_icon nonsupport_service_icon"></i>
											<span class="service_icon_text" id="service_text2">不可七天退货</span>
										</div>
									</div>
									<!--送至地点 结束-->

									<!--店铺 开始-->
									<div class="goods_part bdr_tab mar_t" id="shop_floor">
										<div class="shop_part" id="jshopkefu">
											<a href="#" class="shop_href">
												<div class="shop_row1">
													<span class="shop_row">
														<div class="shop_icon">
															<img src="/images/detial_page/599d3df5Nbe164c02.png" alt="">
														</div>
														<span class="shop_name">泽天食品专营店</span>
														<span class="score_text red_font">9.5</span>
													</span>
												</div>

												<div class="shop_describe">

													<span class="describe_info">商品<span class="green_font">9.4</span></span>

													<span class="describe_info">服务<span class="green_font">9.4</span></span>

													<span class="describe_info">物流<span class="red_font">9.5</span></span>
												</div>

												<div class="shop_tab">
													<span class="tabs">
														<div class="num">1107</div>
														<div class="text">关注人数</div>
														<div class="vertical_line"></div>
													</span>

													<span class="tabs">
														<div class="num">62</div>
														<div class="text">全部商品</div>
														<div class="vertical_line"></div>
													</span>

													<span class="tabs">
														<div class="num">15</div>
														<div class="text">店铺动态</div>
													</span>
												</div>
											</a>
											<div class="shop_footer">
												<div class="shop_dong">
													<a href="#" class="shop_btn" id="im">
														<i class="icon_dong icon_dong_yellow"></i>
														<span class="dong_text J_ping">联系卖家</span>
													</a>
												</div>
												<div class="shop_go">
													<a href="#" class="shop_btn">
														<i class="icon_go"></i>
														<span class="dong_text J_ping">联系卖家</span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<!--店铺 结束-->

									<!--下载引流楼层 开始-->
									<div class="mar_t J_ping download_action_floor" id="download_floor">
										<img src="/images/detial_page/downloadbanner.png" alt="">
									</div>
									<!--下载引流楼层 结束-->


									<!--评论内容 开始-->
									<div id="commendetailModel" class="goods_part bdr_tab mar_t">

										<div class="goods_eval J_ping" id="btnAssess">
											<div class="info">
												<a href="#">
													<span class="part_note_msg">评价(<em id="comments">3113</em>)</span>
													<span class="good_comment_text">
														好评<em id="goods">97%</em>
													</span>
													<i class="icon_arrow icon_arrow_right"></i>
												</a>
											</div>
										</div>

										<div class="prod_comment" id="showDetail">
											<div class="comment_list" id="comment_listID">

												<div class="comment_list_item">

													<div class="comment_item_info">
														<span class="product_item_star">
															<span class="real_ster comment_stars_width5"></span>
														</span>
														<span class="comment_item_author">辉***器</span>
													</div>

													<div class="comment_item_content down_icon">
														<span class="content">假的，挂羊头卖狗肉，大家千万别上当</span>
													</div>
													<div class="comment_img_container">
														<ul class="img_container J_ping">
															<li class="comment_img_item">
																<img src="/images/detial_page/59b9eeb7N1b8c482d.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59b9eeb8N51a9e36d.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/599ccdbeNc0529b89.jpg!q70.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59b9eebaN1aafc2c9.jpg" alt="">
															</li>
														</ul>
													</div>
													<div class="comment_item_date">2017-09-6</div>
												</div>


												<div class="comment_list_item">

													<div class="comment_item_info">
														<span class="product_item_star">
															<span class="real_ster comment_stars_width5"></span>
														</span>
														<span class="comment_item_author">x***c</span>
													</div>

													<div class="comment_item_content down_icon">
														<span class="content">超爱吃月饼，每次快到中秋节就特别馋，今年在京东上选了这盒，都是甜味的月饼，味道正宗，非常好吃！日期新鲜，关键是价格非常便宜，还是京东配送，免邮！下单第二天就收到了，全五星好评！</span>
													</div>
													<div class="comment_img_container">
														<ul class="img_container J_ping">
															<li class="comment_img_item">
																<img src="/images/detial_page/59ba79e0N72e36192.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59ba79e1N1c2bad10.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59ba79e2N3ca2f625.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59ba79e3Ne5bfa18d.jpg" alt="">
															</li>
														</ul>
													</div>
													<div class="comment_item_date">2017-09-10</div>
												</div>


												<div class="comment_list_item">

													<div class="comment_item_info">
														<span class="product_item_star">
															<span class="real_ster comment_stars_width5"></span>
														</span>
														<span class="comment_item_author">涵***熙</span>
													</div>

													<div class="comment_item_content down_icon">
														<span class="content">买了好几盒，挺好吃的，包装精美，快递给力，早上买下午到，京东的不错，赞一下</span>
													</div>
													<div class="comment_img_container">
														<ul class="img_container J_ping">
															<li class="comment_img_item">
																<img src="/images/detial_page/59b11a03N88f7b3fa.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59b11a05N8885f7a9.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59b0fd5aN31e34533.jpg" alt="">
															</li>
															<li class="comment_img_space"></li>
															<li class="comment_img_item">
																<img src="/images/detial_page/59b0fd5aN31e34533.jpg" alt="">
															</li>
														</ul>
													</div>
													<div class="comment_item_date">2017-09-19</div>
												</div>
											</div>
										</div>
									</div>
									<!--评论内容 结束-->

									<div class="af_open_app_warp J_ping" id="downloadFlagA">
										<div class="af_open_app_btn">打开京东APP，查看全部评价</div>
									</div>

									<div class="bottom_tip_floor" id="bottomTipFloor">
										<span class="btm_detail_icon btm_up"></span><span class="bottom_tip"> 上拉查看图文详情  </span>
									</div>
								</div>
							</li>
							<!--商品 结束-->

							<!--详情 开始-->
							<li class="header_slider_item posi_rela">
								<div class="good_detial sift_img" id="goodDetail">
									<!--商品介绍 开始-->
									<div class="detial" id="wareInfo">
										<!--商品图片展示 开始-->
										<div id="scale_parent" style="width:3rem;height:auto;
										margin:0 .1rem; overflow:hidden">
											<div class="scale_box" id="scale_cont" style="transform-origin:0rem 0rem 0rem;transform:scale(0.46875) font-size:.35rem;">
												<p><span></span></p>
												<!--产品图片展示 开始-->
												<ul id="__01" class="img_show">
													<li>
														<img src="/images/detial_page/599cec6fNe42ed292.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec5dN7f2f6b52.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec6bN3597856d.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec5fN702396cc.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec6eN74251408.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec71N9e3c7533.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec70N85e2dce8.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec6cN84aa43e0.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec70Nc7494d5d.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec70N3e572c67.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec6eNf6feb9a0.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec6eN2a9296ca.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec60Nc675a283.jpg" alt="">
													</li>


													<li>
														<img src="/images/detial_page/599cec71N18126e2b.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec71N0a9092ef.jpg" alt="">
													</li>

													<li>
														<img src="/images/detial_page/599cec71N53a82794.jpg" alt="">
													</li>
												</ul>
												<p></p>
												<!--产品图片展示 结束-->
											</div>
										</div>
										<!--商品图片展示 结束-->


										<!--为你推荐 开始-->
										<div id="recommendWrap" class="recommend_wrap">
											<img src="/images/detial_page/guess-title.png" alt="" class="recommend_title">
											<ul class="find_similar_ul" id="recommendList">
												<li class="similar_li">
													<a href="#" class="J_ping">
														<img src="/images/detial_page/59bfc9c5Ncc388c26.jpg!q70.jpg" alt="" class="Jschangewidth">
														<span class="similar_product_text">月饼 三珍斋竹篮月饼礼盒装中秋节礼品团购批发礼物560克广式糕点蛋黄莲蓉等送300克酱鸭</span>
														<span class="similar_product_price">
															¥
															<span class="detial_big_price">48</span><span class="detial_small_price">.90</span>
														</span>
													</a>
												</li>

												<li class="similar_li">
													<a href="#" class="J_ping">
														<img src="/images/detial_page/59be5790N3513700c.jpg!q70.jpg" alt="" class="Jschangewidth">
														<span class="similar_product_text">【京东超市】华美月饼礼盒中秋月饼礼盒 月圆情圆400g【2味4饼含蛋黄白莲蓉月饼】</span>
														<span class="similar_product_price">
															¥
															<span class="detial_big_price">45</span><span class="detial_small_price">.90</span>
														</span>
													</a>
												</li>

												<li class="similar_li">
													<a href="#" class="J_ping">
														<img src="/images/detial_page/59bf8e9cN0171833d.jpg!q70.jpg" alt="" class="Jschangewidth">
														<span class="similar_product_text">【京东超市】华美月饼礼盒 广式月饼中秋 祝福月500g（含蛋黄白莲蓉）</span>
														<span class="similar_product_price">
															¥
															<span class="detial_big_price">49</span><span class="detial_small_price">.90</span>
														</span>
													</a>
												</li>

												<li class="similar_li">
													<a href="#" class="J_ping">
														<img src="/images/detial_page/59b7891eNa90205ab.jpg!q70.jpg" alt="" class="Jschangewidth">
														<span class="similar_product_text">【京东超市】华美 月饼礼盒中秋广式蛋黄月饼 花韵月语600g</span>
														<span class="similar_product_price">
															¥
															<span class="detial_big_price">42</span><span class="detial_small_price">.90</span>
														</span>
													</a>
												</li>
											</ul>
										</div>
										<!--为你推荐 结束-->
									</div>
									<!--商品介绍 结束-->

									<!--规格参数 开始-->
									<div id="wareStandard" class="detial" style="display:none">
										<table class="table_border">
											<tbody>
												<tr>
													<td colspan="2">
														<strong>主体</strong>
													</td>
												</tr>
												<tr>
													<td>口味</td>
													<td>其他</td>
												</tr>
												<tr>
													<td>包装</td>
													<td>纸盒装</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!--规格参数 结束-->

									<!--包装售后 开始-->
									<div id="warePack" class="detial sale_service_wrap" style="display:none;">
										<div class="sale_service_grey bdr_t"></div>
										<div class="sale_service_floor bdr_t">
											<div class="sale_service_title">
												<span class="title_text">
													价格说明
												</span>
											</div>
											<div class="sale_service_content">
												1、京东价：京东价为商品的销售价，是您最终决定是否购买商品的依据。
												<br/>
												2、划线价：商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。
												<br/>
												3、折扣：如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。
												<br/>
												4、异常问题：商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。
												<br/>
											</div>
										</div>
									</div>
									<!--包装售后 结束-->
								</div>

								<!--正在加载中 开始-->
								<div class="loading_position" style="display:none;">
									<div class="is_loading">
										<em></em>
										<span>加载中...</span>
									</div>
								</div>
								<!--正在加载中 结束-->
							</li>
							<!--详情 结束-->

							<!--评价 开始-->
							<li id="commentListId" class="header_slider_item reply_body_body">
								<div class="tab_con_wrapper tab_con_oaa" id="tab_wrapper">

									<div class="assess_flat">
										<span class="assess_wrapper">
											<div class="assess_top">
												<span class="use_portrait">
													<img src="/images/detial_page/baabb0d8d6a631343630393430383637393638_sma.jpg" alt="">
												</span>
												<span class="user_name">涵***熙</span>
												<a href="#" class="plus_icon_wrap J_ping">
													<img src="/images/detial_page/plus-icon.png" alt="">
												</a>
												<span class="assess_date">2017-09-07</span>
											</div>
											<div class="assess_bottom">
												<span class="comment_item_star">
													<span class="real_star comment_stars_width5"></span>
												</span>
												<p class="assess_content">买了好几盒，挺好吃的，包装精美，快递给力，早上买下午到，京东的不错，赞一下</p>
												<div class="product_img_module">
													<a href="#" class="J_ping">
														<ul class="jd_slider_container">
															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59b11a03N88f7b3fa.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59b11a03N88f7b3fa.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59b11a03N88f7b3fa.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59b11a03N88f7b3fa.jpg" alt="">
															</li>
														</ul>
													</a>
												</div>
												<p class="pay_date">购买日期：2017-09-06 08:46:14</p>
											</div>
										</span>
										<div class="assess_btns_box">
											<div class="assess_btns">
												<a href="#" class="assess_like_btn">
													<i class="assess_btn_icon btn_like_icon like_grey"></i>
													<span class="assess_btn_num">(6)</span>
												</a>

												<a href="#" class="assess_reply_btn">
													<i class="assess_btn_icon btn_reply_icon"></i>
													<span class="assess_btn_num">(13)</span>
												</a>
											</div>
										</div>
									</div>


									<div class="assess_flat">
										<span class="assess_wrapper">
											<div class="assess_top">
												<span class="use_portrait">
													<img src="/images/detial_page/5473e62aNdb4251d8.png" alt="">
												</span>
												<span class="user_name">j***7</span>
												<a href="#" class="plus_icon_wrap J_ping">
													<img src="/images/detial_page/plus-icon.png" alt="">
												</a>
												<span class="assess_date">2017-09-07</span>
											</div>
											<div class="assess_bottom">
												<span class="comment_item_star">
													<span class="real_star comment_stars_width5"></span>
												</span>
												<p class="assess_content">买了好几盒，挺好吃的，包装精美，快递给力，早上买下午到，京东的不错，赞一下</p>
												<div class="product_img_module">
													<a href="#" class="J_ping">
														<ul class="jd_slider_container">
															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba83cfN263cd67b.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba83d7Na7b05dd8.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba83cfNd704ea43.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba83daNf3d3cac0.jpg" alt="">
															</li>
														</ul>
													</a>
												</div>
												<p class="pay_date">购买日期：2017-09-06 08:46:14</p>
											</div>
										</span>
										<div class="assess_btns_box">
											<div class="assess_btns">
												<a href="#" class="assess_like_btn">
													<i class="assess_btn_icon btn_like_icon like_grey"></i>
													<span class="assess_btn_num">(6)</span>
												</a>

												<a href="#" class="assess_reply_btn">
													<i class="assess_btn_icon btn_reply_icon"></i>
													<span class="assess_btn_num">(13)</span>
												</a>
											</div>
										</div>
									</div>


									<div class="assess_flat">
										<span class="assess_wrapper">
											<div class="assess_top">
												<span class="use_portrait">
													<img src="/images/detial_page/5473e62aNdb4251d8.png" alt="">
												</span>
												<span class="user_name">x***c</span>
												<a href="#" class="plus_icon_wrap J_ping">
													<img src="/images/detial_page/plus-icon.png" alt="">
												</a>
												<span class="assess_date">2017-09-14</span>
											</div>
											<div class="assess_bottom">
												<span class="comment_item_star">
													<span class="real_star comment_stars_width5"></span>
												</span>
												<p class="assess_content">超爱吃月饼，每次快到中秋节就特别馋，今年在京东上选了这盒，都是甜味的月饼，味道正宗，非常好吃！日期新鲜，关键是价格非常便宜，还是京东配送，免邮！下单第二天就收到了，全五星好评！</p>
												<div class="product_img_module">
													<a href="#" class="J_ping">
														<ul class="jd_slider_container">
															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba79e0N72e36192.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59b7891eNa90205ab.jpg!q70.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba79e2N3ca2f625.jpg" alt="">
															</li>
															<li class="product_img_space"></li>

															<li class="jd_slider_item product_imgs_li">
																<img src="/images/detial_page/59ba79e1N1c2bad10.jpg" alt="">
															</li>
														</ul>
													</a>
												</div>
												<p class="pay_date">购买日期：2017-09-06 08:46:14</p>
											</div>
										</span>
										<div class="assess_btns_box">
											<div class="assess_btns">
												<a href="#" class="assess_like_btn">
													<i class="assess_btn_icon btn_like_icon like_grey"></i>
													<span class="assess_btn_num">(22)</span>
												</a>

												<a href="#" class="assess_reply_btn">
													<i class="assess_btn_icon btn_reply_icon"></i>
													<span class="assess_btn_num">(10)</span>
												</a>
											</div>
										</div>
									</div>
								</div>

								<!--正在加载中 开始-->
								<div class="loading_position" style="display:none;">
									<div class="is_loading">
										<em></em>
										<span>加载中...</span>
									</div>
								</div>
								<!--正在加载中 结束-->


								<!--没有更多喽 开始-->
								<div class="reply_flat_bottom" style="display:none">
									<div class="div1">
										<div class="no_more_border"></div>
										<img src="/images/detial_page/no-more-joy2.png" alt="" class="no_more_icon">
										<p class="no_more_write">没有更多喽~</p>
									</div>
								</div>
								<!--没有更多喽 结束-->


								<!--打开京东APP查看更多 开始-->
								<div class="open_app_bottom">
									<div id="openAppAText" class="open_app_a_text">还有3515条评价，打开京东APP立即查看</div>
									<div class="open_app_a_img">
										<a href="#" class="J_ping" id="downloadFlagAP"></a>
									</div>
								</div>
								<!--打开京东APP查看更多 结束-->
							</li>
							<!--评价 结束-->
						</ul>
					</div>
				</div>
				<!--上层页面外容器 结束-->

				<!--底部占位 开始-->
				<div class="hold_div_bottom" id="hold_div_bottom"></div>
				<!--底部占位 结束-->

				<!--商品添加成功 开始-->
					<div class="cart_pop" id="cart" style="display:none;">
						<span class="att_succ">添加成功！</span>
						<span class="cart_succ">商品已成功加入购物车</span>
					</div>
				<!--商品添加成功 结束-->
			</div>

			<!--降价通知 开始-->
			<div class="depreciate_inform_block J_ping reduce_price" id="depreciateInformBlock" style="display:none">
				<span class="depreciate_inform_title">设置降价通知</span>
				<span class="depreciate_inform_title2">若商品30天内降价，手机短信会通知您</span>
				<input type="number" class="input_box J_ping" id="depreciate_price" placeholder="请输入期望价格">
				<span class="input_prompt" id="input_prompt" style="visibility:hidden;">请输入价格</span>
				<input type="tel" class="input_box J_ping" id="depreciate_phoneno" placeholder="请输入手机号码">
				<span class="phone_num_prompt" id="phone_num_prompt" style="visibility:hidden;">手机号码错误请重新输入</span>
				<div class="cancel_yes_box cf">
					<div class="cancel_but_box">
						<div class="cancel_but J_ping" id="cancel_but">取消</div>
						<div class="yes_but J_ping" id="yes_but">确定</div>
					</div>
				</div>
				<span class="discount_block" id="discount_block" style="display:none;">0.6折</span>
			</div>
			<!--降价通知 结束-->


			<!--到货通知 开始-->
			<div class="depreciate_inform_block J_ping arrival_goods" id="depreciateInformBlock" style="display:none;">
				<span class="depreciate_inform_title">设置到货通知</span>
				<span class="depreciate_inform_title2">若商品30天内到货，手机短信会通知您</span>
				<input type="tel" class="input_box J_ping" id="depreciate_phoneno" placeholder="请输入手机号码">
				<span class="phone_num_prompt" style="visibility:hidden;">手机号码错误请重新输入</span>
				<div class="cancel_yes_box cf">
					<div class="cancel_but_box">
						<div class="cancel_but J_ping">取消</div>
						<div class="yes_but J_ping">确定</div>
					</div>
				</div>
			</div>
			<!--到货通知 结束-->


			<!--实名认证弹窗 开始-->
			<div class="certification_floor" style="display:none;">
				<div class="cover_floor"></div>
				<div class="one_btn_tip_box_tip">
					<div class="one_btn_tip_info">
						<span>实名认证用户才能领取哦~，请到我的京东-账户管理中去开通吧！</span>
					</div>
					<div class="one_btn_tip_btn">
						我知道了
					</div>
				</div>
			</div>
			<!--实名认证弹窗 结束-->
		</div>
	</div>
	<!--列表内容 结束-->
	
	<!--send-to 开始-->
		<div class="menu_sidebar" id="puller" style="display:none">
			<div class="list_content_mask"></div>
			<div class="sidebar_content" id="sidebar_content">
				<div class="sidebar_header region_title">
					<span class="region_title_back" id="region_back_arrow">
						<i class="J_ping"></i>
					</span>
					<span class="region_title_name">配送至</span>
				</div>
				<div class="sidebar_items_container region_list_group">
					<div class="space44"></div>
					<div class="region_wrapper">
						<ul class="sidebar_list sidebar_categories region_list J_ping cur">

							<li class="choice_address checked">
								<i class="tick"></i>
								<span>北京</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>上海</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>天津</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>重庆</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>河北</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>山西</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>河南</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>辽宁</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>吉林</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>黑龙江</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>内蒙古</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>江苏</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>山东</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>安徽</span>
							</li>

							<li class="choice_address">
								<i class="tick"></i>
								<span>浙江</span>
							</li>
						</ul>
					</div>
					<div class="loading_mask"></div>
				</div>
			</div>
		</div>
	<!--send-to 结束-->

	<!--加车提示loadding 开始-->
	<div class="cart_loading_icon"></div>
	<!--加车提示loadding 结束-->


	<!--多次点赞提示文案 开始-->
	<div class="prompt_window useful_window" style="display:none;">
		<span class="prompt_err_icon"></span>
		<span class="prompt_text">您已经点赞过了</span>
	</div>
	<!--多次点赞提示文案 结束-->


	<!--添加购物车成功提示文案 开始-->
	<div class="add_succesed" id="add_succesed" style="display:none;">
		<span class="add_succesed_icon"></span>
		<span class="prompt_text">加入购物车成功！</span>
	</div>
	<!--添加购物车成功提示文案 结束-->

	<!--关注成功提示文案 开始-->
	<div class="add_succesed" id="concern_succesed" style="display:none;">
		<span class="add_succesed_icon"></span>
		<span class="prompt_text">关注成功！</span>
	</div>
	<!--关注成功提示文案 结束-->

	<!--取消关注提示文案 开始-->
	<div class="add_succesed" id="cancel_concern" style="display:none;">
		<span class="add_succesed_icon"></span>
		<span class="prompt_text">取消关注！</span>
	</div>
	<!--取消关注提示文案 结束-->

	<!--降价订阅成功提示文案 开始-->
	<div class="add_succesed" id="subscribe" style="display:none;">
		<span class="add_succesed_icon"></span>
		<span class="prompt_text">订阅成功！</span>
	</div>
	<!--降价订阅成功提示文案 结束-->


	<!--暂无回复 开始-->
	<div class="prompt_window useful_window" id="pop_none_reply" style="display:none;">
		<span class="prompt_err_icon"></span>
		<span class="prompt_text">暂无回复哦</span>
	</div>
	<!--暂无回复 结束-->


	<!--上层页面回到顶部 开始-->
	<div class="bottom_to_top J_ping" id="index_to_top" style="display:none;">
		<img src="/images/detial_page/scroll-to-top-icon.png" alt="">
	</div>
	<!--上层页面回到顶部 结束-->

	<!--灰色弹出层 开始-->
	<div class="flick_menu_mask" style="display:none" id="flick_menu_mask"></div>
	<!--灰色弹出层 结束-->


	<!--选择商品弹层 开始-->
	<div class="spec_menu">
		<div class="spea_menu_content" id="spec_menu" style="display:none">
			<div class="spec_menu_top bdr_b">

				<div class="spec_first_pic">
					<img src="/images/detial_page/59b5e131N5f07c694.jpg!q70.jpg" alt="" id="">
				</div>

				<a class="rt_close_btn_wrap spec_menu_close" id="spec_menu_close">
					<p class="flick_menu_close"></p>
				</a>

				<div id="specPlus" class="plus_price_wrap spec_plus_price_mtl" style="display:none">
					<div class="plus_price_row">
						<div class="spec_jd_price">
							<span class="plus_jd_price_title">京东价：</span>
							<span class="price_icon grey"></span>
							<span class="plus_jd_price_text" id="specJdPrice">45.90</span>
						</div>
					</div>
					<div class="plus_price_row">
						<div class="spec_plus_price">
							<span class="plus_member_price_title">会员价：</span>
							<span class="price_icon black"></span>
							<span class="plus_member_price_text" id="specPlusPrice">38.90</span>
							<img src="/images/detial_page/plus-price-icon.png" alt="" class="plus_pri_icon">
						</div>
					</div>
				</div>

				<div class="spec_price" id="specJdPri">
					<span class="yang_pic spec_yang_pic"></span>
					<span id="spec_price">45.90</span>
				</div>

				<div id="specWeightDiv" class="spec_weight">
					<span>重量:</span>
					<span id="spec_weight">1.2kg</span>
				</div>
			</div>


			<div class="spec_menu_middle">
				<div class="prod_spec" id="prodSpecArea">
					<div class="spec_desc">
						<span class="part_note_msg">已选</span>
						<div id="specDetailInfo_spec" class="base_txt">
							<span class="amount" id="select_amount">1件</span>
						</div>
					</div>
					<div class="nature_container" id="natureCotainer">
						<div id="addCartNum" class="pro_count">
							<span class="part_note_msg">数量</span>
							<div class="quantity_wrapper">
								<a class="quantity_decrease limited J_ping" id="quantity_decrease">
									<em id="minus">-</em>
								</a>
								<input type="text" class="quantity" value="1" id="number">
								<a class="quantity_increase J_ping" id="quantityPlus">
									<em id="plus">+</em>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="warrantty_wrap bdr_t">
					<div id="spec_yanbaoInfo" class="warranty_title">保障服务</div>
					<div id="spec_spec_yanbaoItems"></div>
				</div>
			</div>

			<!--选择商品弹层确认取消按钮 开始-->
			<div class="flick_menu_btn spec_menu_btn">
				<a class="yellow_color abb_cart" id="add_cart_spec">加入购物车</a>
				<a href="#" class="red_color directorder" id="directorder_spec">立即购买</a>
				<a href="#" class="yellow_color J_ping looksimilar looksimilara looksimilar_spec" id="looksimilar_speca" style="display:none;">查看相似</a>
				<a href="#" class="yellow_color J_ping looksimilar looksimilarb looksimilar_spec" id="looksimilar_specb" style="display:none;">查看同款</a>
				<a href="#" class="red_color J_ping arrivalInform" id="arrivalInform_spec" style="display:none;">到货通知</a>
				<a href="#" class="red_color disabled waitingForAppointments" id="waitingForAppointments_spec" style="display:none;">等待预约</a>
				<a href="#" class="red_color makeAppointments" id="makeAppointments_spec" style="display:none;">立即预约</a>
				<a href="#" class="red_color disabled waitingForBuying" id="waitingForBuying_spec" style="display:none;">等待抢购</a>
				<a href="#" class="red_color buyImmediately" id="buyImmediately_spec" style="display:none;">立即抢购</a>
				<a href="#" class="red_color disabled appointmentsEnd" id="appointmentsEnd_spec" style="display:none;">预约结束</a>
				<a href="#" class="red_color" id="yushou_add_cart_spec" style="display:none;">立即预定</a>
			</div>
			<!--选择商品弹层确认取消按钮 结束-->
		</div>
	</div>
	<!--选择商品弹层 结束-->


	<!--服务弹层 开始-->
	<div class="service_menu" id="service_menu" style="display:none">
		<div class="flick_menu_title">服务说明</div>
		<a class="rt_close_btn_wrap service_menu_close  J_ping" id="service_menu_close">
			<p class="flick_menu_close"></p>
		</a>
		<div class="service_menu_wrapper">
			<div class="service_item_row">
				<img src="/images/detial_page/5680f585N70da96a6.png" alt="" class="service_item_icon">
				<span class="service_item_title">京东发货&店铺售后</span>
				<span class="service_item_text">由京东从北京发货,泽天食品专营店提供售后服务</span>
			</div>
			<div class="service_menu_iconList"></div>
			<div class="service_item_row">
				<img src="/images/detial_page/5680f4a7Nd42f863e.png" alt="" class="service_item_icon">
				<span class="service_item_title">不可七天退货</span>
				<span class="service_item_text">不支持7天无理由退货</span>
			</div>
		</div>
		<div class="flick_menu_btn J_ping">
			<div class="service_ok_btn" id="service_ok_btn">确定</div>
		</div>
	</div>
	<!--服务弹层 结束-->

	<!--吸底无货，预约等提示文案 开始-->
	<div class="bottom_prompt" id="bottom_prompt_msg_div" style="display:none">
		<p class="prompt_title" id="prompt_msg">抱歉，所选地区暂时无货!!!</p>
	</div>
	<!--吸底无货，预约等提示文案 结束-->


	<!--底部按钮 开始-->
	<div class="cart_concern_btm_fixed five_column" id="cart1">
		<div class="concern_cart">
			<a href="#" class="dong_dong_icn J_ping" id="imBottom">
				<em class="btm_act_icn"></em>
				<span class="focus_info">卖家</span>
			</a>

			<a class="love_heart_icn J_ping" id="focusOn">
				<em class="btm_act_icn focus_out" id="attentionFocus"></em>
				<i class="focus_scale" id="focus_scale" style="display:none;"></i>
				<span class="focus_info" id="concern_info">关注</span>
			</a>

			<a href="#" class="cart_car_icn J_ping" id="toCartNew">
				<em class="btm_act_icn" id="shoppingCart">
					<i class="order_numbers" id="carNum">0</i>
				</em>
				<span class="focus_info">购物车</span>
			</a>
		</div>
		<div class="action_list">
			<a class="yellow_color add_cart" id="addCartBtm">加入购物车</a>
			<a href="#" class="red_color directorder" id="directorderBtm">立即购买</a>
			<a href="#" class="yellow_color J_ping looksimilar looksimilara" style="display:none">查看相似</a>
			<a href="#" class="yellow_color J_ping looksimilar looksimilarb looksimilar_spec" style="display:none">查看同款</a>
			<a href="#" class="red_color J_ping arrivalInform" id="arrivalInform_spec" style="display:none">到货通知</a>
		</div>
	</div>
	<!--底部按钮 结束-->

	<script type="text/javascript" src="/javascripts/way_base.js"></script>
	<script type="text/javascript" src="/javascripts/detial_page/detial_page.js"></script>
</body>
</html>
