<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
	<title>京东视频购</title>
	<!--设置html的font-size 开始-->
	<script type="text/javascript">
	function htmlFont(){
		var explorer=navigator.userAgent;
		if(explorer.indexOf("Opera")>=0){
			winwid=screen.width;
		}else{
			winwid=document.getElementsByTagName('html')[0].offsetWidth;
		}
		fosi=winwid/320*100;
		document.getElementsByTagName('html')[0].style.fontSize=fosi+'px';
	}
	htmlFont();
	window.addEventListener('resize',htmlFont);
	</script>
<!--设置html的font-size 开始-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/detial_page/discover_detial_page.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
</head>
<body>
	<div class="page" id="app">
		<!--发现头部轮播 开始-->
		<div class="m_header_swiper_con" id="m_header_swiper_con">
			<div class="swiper_container m_header_swiper swiper_container_horizontal">
				<div class="swiper_wrapper">

					<div class="m_header_swiper_slide swiper_slide swiper_slide_duplicate swiper-slide-active">
						<div class="m_header_icon" style="background:url(/images/detial_page/59c48525N7adb424f.jpg!q70.jpg);background-size:100% 100%;"></div>
						<div class="m_header_title">巧用光影，让摄影更艺术</div>
						<div class="m_header_open_btn">打开</div>
					</div>

					<div class="m_header_swiper_slide swiper_slide swiper_slide_duplicate swiper-slide-active">
						<div class="m_header_icon" style="background:url(/images/detial_page/slogo3.png);background-size:100% 100%;"></div>
						<div class="m_header_title">每日为你走心推荐</div>
						<div class="m_header_open_btn">打开</div>
					</div>

					<div class="m_header_swiper_slide swiper_slide swiper_slide_duplicate swiper-slide-active">
						<div class="m_header_icon"  style="background:url(/images/detial_page/59c484d1N52ce2385.jpg!q70.jpg);background-size:100% 100%;"></div>
						<div class="m_header_title">拍摄小技巧，让生活多彩一点</div>
						<div class="m_header_open_btn">打开</div>
					</div>

					<div class="m_header_swiper_slide swiper_slide swiper_slide_duplicate swiper-slide-active">
						<div class="m_header_icon"  style="background:url(/images/detial_page/top-jdlogo.png);background-size:100% 100%;"></div>
						<div class="m_header_title">巧用光影，让摄影更艺术</div>
						<div class="m_header_open_btn">打开</div>
					</div>
				</div>

				<div class="swiper_pagination m_header_swiper_pagination swiper_pagination_clickable swiper_pagination_bullets">
					<span class="swiper_pagination_bullet swiper_pagination_bullet_active"></span>
					<span class="swiper_pagination_bullet"></span>
					<span class="swiper_pagination_bullet"></span>
					<span class="swiper_pagination_bullet"></span>
				</div>
			</div>
			<span class="m-header-swiper-close-btn" id="swiper_close_btn">X</span>
		</div>
		<!--发现头部轮播 结束-->


		<!--商详头部 开始-->
		<div id="m_header" class="m_header">
			<div id="m_common_header_goback" class="jd_header_icon_back">
				<span></span>
			</div>

			<div class="jd_header_title">购物车</div>

			<div id="m_common_bottom_jdkey" class="jd_header_icon_short_cut J_ping">
				<span></span>
			</div>
		</div>

		<ul class="jd_header_short" id="layout_jdBar" style="display:none">

			<li>
				<a href="#">
					<span class="shortcut_home"></span>
					<strong>首页</strong>
				</a>
			</li>

			<li>
				<a href="#">
					<span class="shortcut_categories"></span>
					<strong>分类搜索</strong>
				</a>
			</li>

			<li>
				<a href="#">
					<span class="shortcut_cart"></span>
					<strong>购物车</strong>
				</a>
			</li>

			<li class="current">
				<a href="#">
					<span class="shortcut_my_account"></span>
					<strong>我的京东</strong>
				</a>
			</li>

		</ul>
		<!--商详头部 结束-->

		<div class="video_content">
			<video src="https://1251412368.vod2.myqcloud.com/vodtransgzp1251412368/9031868223223729669/v.f30.mp4" controls="controls" poster="https://m.360buyimg.com/mobilecms/jfs/t9325/83/928335727/1219677/230d9954/59b92f3eN7a9227a0.png" webkit-playsinline></video>
			<div class="video_info">
				<p class="title">告诉你iPhoneX拍照有多强</p>
				<div class="video_info_author">
					<div class="video_img_wrap">
						<img src="/images/detial_page/58f95ee8Nf1684e4b.jpg!q70.jpg" alt="" class="author_pic">
					</div>
					<span>大圣科技DS</span>
				</div>
			</div>
		</div>


		<div class="description_content">
			<p class="description_content_title">全部宝贝</p>
			<div class="description_list">
				<div class="description_item">
					<div class="img_layout">
						<img src="/images/detial_page/57d11b6cN1fd1194d.jpg!q70.jpg" alt="">
					</div>
					<div class="description_info">
						<p class="description_title">Apple iPhone 7 Plus (A1661) 128G 黑色 移动联通电信4G手机</p>
						<p class="description_meta">
							<span class="description_price">￥6299</span>
							<span class="description_buy">去购买</span>
						</p>
					</div>
				</div>

				<div class="description_item">
					<div class="img_layout">
						<img src="/images/detial_page/57d0c513Nd51ff9a3.jpg!q70.jpg" alt="">
					</div>
					<div class="description_info">
						<p class="description_title">Apple iPhone 7 (A1660) 32G 玫瑰金色 移动联通电信4G手机</p>
						<p class="description_meta">
							<span class="description_price">￥4499</span>
							<span class="description_buy">去购买</span>
						</p>
					</div>
				</div>

				<div class="description_item">
					<div class="img_layout">
						<img src="/images/detial_page/57e4a358N9ccc6645.jpg!q70.jpg" alt="">
					</div>
					<div class="description_info">
						<p class="description_title">Apple iPhone 7 (A1660) 32G 玫瑰金色 移动联通电信4G手机</p>
						<p class="description_meta">
							<span class="description_price">￥3999</span>
							<span class="description_buy">去购买</span>
						</p>
					</div>
				</div>

				<div class="description_extra_con">
					<div class="description_extra">
						<span class="fold_icon open"></span>展开全部商品
					</div>
				</div>
			</div>
		</div>


		<div class="related_con">
			<p class="related_con_title">相关视频</p>

			<div class="related_item">
				<div class="related_content">
					<p class="related_content_title">华为小米三星都来挤压苹果，苹果8会遭遇滑铁卢吗？</p>
					<p class="related_content_meta">
						<span class="time"></span>
						<span class="related_open_app">打开APP查看</span>
					</p>
				</div>
				<div class="related_img_placehold">
					<img src="/images/detial_page/59bc981cN84f7995e.jpg!q70.jpg" alt="">
					<div class="related_video_play"></div>
				</div>
			</div>

			<div class="related_item">
				<div class="related_content">
					<p class="related_content_title">三款个性化十足的千元精品，高通处理器，1080P屏幕</p>
					<p class="related_content_meta">
						<span class="time"></span>
						<span class="related_open_app">打开APP查看</span>
					</p>
				</div>
				<div class="related_img_placehold">
					<img src="/images/detial_page/59bcd6c2N5aa8bbb5.jpg!q70.jpg" alt="">
					<div class="related_video_play"></div>
				</div>
			</div>

			<div class="related_item">
				<div class="related_content">
					<p class="related_content_title">多亏苹果X，小米MIX2十秒售罄，真有那么好吗？</p>
					<p class="related_content_meta">
						<span class="time"></span>
						<span class="related_open_app">打开APP查看</span>
					</p>
				</div>
				<div class="related_img_placehold">
					<img src="/images/detial_page/59bca4a5N7d218d68.jpg!q70.jpg" alt="">
					<div class="related_video_play"></div>
				</div>
			</div>

			<div class="related_item">
				<div class="related_content">
					<p class="related_content_title">手机：国内坐飞机也可以玩我了，10月见</p>
					<p class="related_content_meta">
						<span class="time"></span>
						<span class="related_open_app">打开APP查看</span>
					</p>
				</div>
				<div class="related_img_placehold">
					<img src="/images/detial_page/59c00190N9c3e83cd.jpg!q70.jpg" alt="">
					<div class="related_video_play"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/javascripts/way_base.js"></script>
	<script type="text/javascript" src="/javascripts/detial_page/discover_detial_page.js"></script>
</body>
</html>
