<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发现频道</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no" name="format-detection">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
	<!--设置html的font-size 开始-->
	<script type="text/javascript">
	function htmlFont(){
		var explorer=navigator.userAgent;
		if(explorer.indexOf("Opera")>=0){
			winwid=screen.width;
		}else{
			winwid=document.getElementsByTagName('html')[0].offsetWidth;
		}
		fosi=winwid/320*100;
		document.getElementsByTagName('html')[0].style.fontSize=fosi+'px';
	}
	htmlFont();
	window.addEventListener('resize',htmlFont);
	</script>
<!--设置html的font-size 开始-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/list_page/discover.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
</head>
<body>
	<div id="content_29">
		<div id="content_29_div" class="download_pannel download_noBg">
			<div class="pannel_bg">
				<img src="/images/index/download_bg.png" alt="固定头部背景图">
			</div>
			<div class="download_close">
				<img src="/images/index/icon-close-banner.png" alt="关闭按钮">
			</div>
			<div class="download_logo">
				<img src="/images/index/top-jdlogo.png" alt="京东标志">
			</div>
			<div class="download_txt">
				<em class="download_txt_up">发现你的品质生活</em>
				<em class="download_txt_down">最少的钱过最好的生活</em>
			</div>
			<div class="download_action">
				<a id="download_openapp" href="#">立即打开</a>
			</div>
		</div>
	</div>

	<div id="m_common_bottom">
	<!--商详头部 开始-->
		<div class="jd_header_bar">
			<div id="m_common_header_goback" class="jd_header_icon_back">
				<span></span>
			</div>

			<div class="jd_header_title">发现频道</div>

			<div id="m_common_bottom_jdkey" class="jd_header_icon_short_cut J_ping">
				<span></span>
			</div>
		</div>
	<!--商详头部 结束-->

		<ul class="jd_header_short" id="layout_jdBar">

			<li>
				<a href="#">
					<span class="shortcut_home"></span>
					<strong>首页</strong>
				</a>
			</li>

			<li>
				<a href="#">
					<span class="shortcut_categories"></span>
					<strong>分类搜索</strong>
				</a>
			</li>

			<li>
				<a href="#">
					<span class="shortcut_cart"></span>
					<strong>购物车</strong>
				</a>
			</li>

			<li class="current">
				<a href="#">
					<span class="shortcut_my_account"></span>
					<strong>我的京东</strong>
				</a>
			</li>

		</ul>
	</div>

	<!--发现内容 开始-->
	<div id="main" class="clearfix">
		<div class="slide_navi_container" id="wrapper">
			<ul id="wrapper" class="slide_navi clearfix">
				<li class="navi active">
					<p class="navi_name">精选</p>
				</li>

				<li class="navi">
					<p class="navi_name">生活</p>
				</li>

				<li class="navi">
					<p class="navi_name">风尚</p>
				</li>

				<li class="navi">
					<p class="navi_name">亲子</p>
				</li>

				<li class="navi">
					<p class="navi_name">数码</p>
				</li>
			</ul>
		</div>
		<div class="down_navi_arrow">
			<span class="arrow"></span>
		</div>
		<ul class="down_navi clearfix down_transition">
			<li class="navi active">
				<p class="navi_name">精选</p>
			</li>

			<li class="navi">
				<p class="navi_name">生活</p>
			</li>

			<li class="navi">
				<p class="navi_name">风尚</p>
			</li>

			<li class="navi">
				<p class="navi_name">亲子</p>
			</li>

			<li class="navi">
				<p class="navi_name">数码</p>
			</li>

			<li class="navi">
				<p class="navi_name">美食</p>
			</li>
		</ul>


		<div class="article_list fade_transition">

			<div class="article clearfix" id="article_undefined">
				<div class="article_left">
					<p class="article_title line_clamp2">告诉你iPhoneX拍照有多强</p>
					<p class="article_summary line_clamp2"></p>
					<div class="article_author clearfix">
						<img src="/images/list_page/list_product/58f95ee8Nf1684e4b.jpg!q65.webp" alt="" class="lazy_img article_author_pic">
						<span class="lazy_img article_author_name">大圣科技DS</span>
						<span class="open_app">打开APP查看</span>
					</div>
				</div>
				<div class="article_right">
					<div class="img_box">
						<img src="/images/list_page/list_product/59b92f4cNcb75a934.png!q65.webp" alt="" class="lazy_img">
						<img src="/images/list_page/list_product/open_start.png" alt="" class="play_icon">
					</div>
					<div class="article_info clearfix">
						<div class="article_time">
							<div class="clock little_icon"></div>
							<span>09月18日</span>

						</div>
						<div class="article_viewed">
							<span>5851</span>
							<div class="eye little_icon"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="article clearfix" id="article_undefined">
				<div class="article_left">
					<p class="article_title line_clamp2">车钥匙锁在车里！除了狠心出血砸窗，其实还有不少好办法</p>
					<p class="article_summary line_clamp2">车钥匙被锁车内?或许有的车主会觉得很搞笑，因为他们支持无钥匙进入的车辆，如果钥匙在车内根本锁不上车。但是不要忘记，市面上还有很多不支持无钥匙进入的车辆，如果不慎将钥匙被锁在车内，又没有备用钥匙，那该用什么法子来解决呢?</p>
					<div class="article_author clearfix">
						<img src="/images/list_page/list_product/58f95ee8Nf1684e4b.jpg!q65.webp" alt="" class="lazy_img article_author_pic">
						<span class="lazy_img article_author_name">车314汽车网</span>
						<span class="open_app" style="display:none">打开APP查看</span>
					</div>
				</div>
				<div class="article_right">
					<div class="img_box">
						<img src="/images/list_page/list_product/590dc19dN22921f58.JPG!q65.webp" alt="" class="lazy_img">
						<img src="/images/list_page/list_product/open_start.png" alt="" class="play_icon">
					</div>
					<div class="article_info clearfix">
						<div class="article_time">
							<div class="clock little_icon"></div>
							<span>08月21日</span>

						</div>
						<div class="article_viewed">
							<span>26220</span>
							<div class="eye little_icon"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="article clearfix" id="article_undefined">
				<div class="article_left">
					<p class="article_title line_clamp2">1度电，让你从北京开到上海的电动车</p>
					<p class="article_summary line_clamp2"></p>
					<div class="article_author clearfix">
						<img src="/images/list_page/list_product/59425997N1301c829.jpg!q65.webp" alt="" class="lazy_img article_author_pic">
						<span class="lazy_img article_author_name">蚂蚁京选</span>
						<span class="open_app" style="display:none">打开APP查看</span>
					</div>
				</div>
				<div class="article_right">
					<div class="img_box">
						<img src="/images/list_page/list_product/59a55e42N16abb85d.jpg!q65.webp" alt="" class="lazy_img">
						<img src="/images/list_page/list_product/open_start.png" alt="" class="play_icon">
					</div>
					<div class="article_info clearfix">
						<div class="article_time">
							<div class="clock little_icon"></div>
							<span>09月21日</span>

						</div>
						<div class="article_viewed">
							<span>34851</span>
							<div class="eye little_icon"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="article clearfix" id="article_undefined">
				<div class="article_left">
					<p class="article_title line_clamp2">国外传疯了的iPhone 8真机操作视频，先睹为快！！</p>
					<p class="article_summary line_clamp2">iPhone 8 的信息一直就没有断过，之前一直是图片曝光，但这一次的视频曝光，涵盖的信息更加的丰富，大家一起来关注一下。不过这个曝光还没有得到官方的承认，最终还是要看苹果的发布会是怎样的展现。</p>
					<div class="article_author clearfix">
						<img src="/images/list_page/list_product/58dfe18aN1c2e88eb.jpg!q65.webp" alt="" class="lazy_img article_author_pic">
						<span class="lazy_img article_author_name">北门</span>
						<span class="open_app" style="display:none">打开APP查看</span>
					</div>
				</div>
				<div class="article_right">
					<div class="img_box">
						<img src="/images/list_page/list_product/5936ac54Nbff429f8.jpg!q65.webp" alt="" class="lazy_img">
						<img src="/images/list_page/list_product/open_start.png" alt="" class="play_icon">
					</div>
					<div class="article_info clearfix">
						<div class="article_time">
							<div class="clock little_icon"></div>
							<span>06月07日</span>

						</div>
						<div class="article_viewed">
							<span>851231</span>
							<div class="eye little_icon"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="to_top"></div>
	</div>
	<!--发现内容 结束-->
</body>
</html>
