<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="author" content="pengli">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-cappable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Chache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="description" content="京东JD.COM-专业的综合网上购物商城,在线销售家电、数码、电脑、服装、母婴、图书、食品等数万个品牌商品.便捷、诚信的服务,为您提供愉悦的网上商城购物体验! ">
	<meta name="Keywords" content="网上购物,手机,笔记本,电脑,MP3,CD,VCD,DV,相机,数码,配件,手表,存储卡,京东商城">
<!--设置html的font-size 开始-->
	<script type="text/javascript">
	function htmlFont(){
		var explorer=navigator.userAgent;
		if(explorer.indexOf("Opera")>=0){
			winwid=screen.width;
		}else{
			winwid=document.getElementsByTagName('html')[0].offsetWidth;
		}
		fosi=winwid/320*100;
		document.getElementsByTagName('html')[0].style.fontSize=fosi+'px';
	}
	htmlFont();
	window.addEventListener('resize',htmlFont);
	</script>
<!--设置html的font-size 开始-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/index/index.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
</head>
<body class="mhome">
	<header class="index_top_header" id="topheader"></header>

	<!--中间内容 开始-->
	<div class="scroll_wrapper" id="scwrapper">
		<div class="viewport_new" id="newviewport">
			<!--轮播 开始-->
			<div class="slider floor" id="slider">
				<ul class="slider_list" id="slider_list">
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid1.jpg" alt=""></a></li>
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid2.jpg" alt=""></a></li>
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid3.jpg" alt=""></a></li>
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid4.jpg" alt=""></a></li>
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid5.jpg" alt=""></a></li>
					<li class="sliderItem"><a href="http://localhost:3000/static/list_product.html"><img src="/images/index/slid6.jpg" alt=""></a></li>
				</ul>
				<div class="focus_btn" id="focus_btn">
					<span class="active"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<!--轮播 开始-->


			<!--京东APP 开始-->
			<div class="floor box_center">
				<nav class="quick_entry_nav">

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box1.png" alt="京东超市">
							<span>京东超市</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box2.png" alt="京东超市">
							<span>全球购</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box3.png" alt="京东超市">
							<span>服装城</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box4.png" alt="京东超市">
							<span>京东生鲜</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box5.png" alt="京东超市">
							<span>京东到家</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box6.png" alt="京东超市">
							<span>充值缴费</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box7.png" alt="京东超市">
							<span>领京豆</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box8.png" alt="京东超市">
							<span>领券</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box9.png" alt="京东超市">
							<span>惠赚钱</span>
						</span>
					</a>

					<a href="#" class="quick_entry_link">
						<span class="quick_box">
							<img src="/images/index/quick_box10.png" alt="京东超市">
							<span>物流查询</span>
						</span>
					</a>
				</nav>
			</div>
			<!--京东APP 结束-->


			<!--京东大广告图（新人专享：轮播2） 开始-->
			<div class="floor">
				<div class="floor_item">
					<ul class="new_slid">
						<li>
							<a href="#">
								<img src="/images/index/new_slid1.jpg" alt="新人专享">
							</a>
						</li>
					</ul>
					<div class="focus_btn" style="display:none">
						<span class="focus_active"></span>
					</div>
				</div>
			</div>
			<!--京东大广告图（新人专享:轮播2） 结束-->


			<!--消息轮播 开始-->
			<div class="jd_express_news">

				<a href="#" class="news_tit">
					<img src="/images/index/jd-news-tit.png" alt="">
				</a>

				<div id="scroll_news" class="news_list_wrapper">
					<ul class="news_list">
						<li class="news_item">
							<a href="#" class="news_txt"><span class="red">抢</span>家居狂欢周，1元好货限时抢购</a>
						</li>

						<li class="news_item">
							<a href="#" class="news_txt"><span class="red">爆</span>兵不血刃消灭小强，就靠无敌杀虫剂</a>
						</li>

						<li class="news_item">
							<a href="#" class="news_txt"><span class="red">热</span>iphone8机模开箱上手</a>
						</li>
					</ul>
				</div>
				<a href="#" class="news_more"><i class="line"></i>更多</a>
			</div>
			<!--消息轮播 结束-->


			<!--秒杀部分 开始-->
			<div class="floor bdr_bottom">
				<div class="seckill_floor">


					<div id="seckill_title" class="title_wrap">
						<a href="#" class="seckill_left_link">
							<img src="/images/index/seckill_name.png" alt="京东秒杀专场">
							<strong id="seckill_now" class="seckill_nth"><em>12</em>点场</strong>
							<div class="seckill_timer" id="seckill_time">

								<div class="seckill-time" id="time_hours">00</div>
								<span class="seckill-time-separator">:</span>

								<div class="seckill-time" id="time_mintues">00</div>
								<span class="seckill-time-separator">:</span>

								<div class="seckill-time" id="time_seconds">00</div>

							</div>
						</a>
						<a href="#" class="seckill_more_link">京选尖货轮番秒<i class="seckill_more_icon"></i></a>
					</div>


					<div class="floor_contianer">
						<ul id="seckillul" class="seckill_new_list">

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img1.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img2.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img3.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img4.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img5.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img6.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img7.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img8.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img9.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img10.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img11.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img12.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img13.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img14.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img15.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img16.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img17.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img18.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img19.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_new_item">
								<div class="seckill_item_img bd_r">
									<a href="#">
										<img src="/images/index/seckill_new_img20.jpg" alt="">
										<div class="seckill_tip">大牌秒</div>
									</a>
								</div>
								<div class="seckill_item_price">
									<span class="seckill_new_price"><em>¥</em>6998</span>
									<span class="seckill_original_price"><em>¥</em>7399</span>
								</div>
							</li>

							<li class="seckill_all_item">
								<a href="#">
									<div class="seckill_all">
										<i class="show_all_icon"></i>
										<span class="show_all_title">查看更多</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--秒杀部分 结束-->


			<!--轮播3 开始-->
			<div class="floor">
				<div class="floor_item">
					<ul class="new_slid">
						<li class="">
							<a href="#">
								<img src="/images/index/floor3_slid1.jpg" alt="">
							</a>
						</li>
					</ul>
					<div class="focus_btn" style="display:none">
						<span class="focus_active"></span>
					</div>
				</div>
			</div>
			<!--轮播3 结束-->


			<!--闪购发现好货 开始-->
			<div class="floor">
				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">闪购</strong>
										<p class="graphic_wz">1元大家都抢</p>
									</div>
									<div class="graphic_img square_img">
										<img src="/images/index/opa1.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">发现好货</strong>
										<p class="graphic_wz">发现品质生活</p>
									</div>
									<div class="graphic_img square_img">
										<img src="/images/index/opa2.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co102_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">排行榜</strong>
										<p class="graphic_wz">热卖爆款集结</p>
									</div>
									<div class="graphic_img square_img">
										<img src="/images/index/opa3.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">会买专辑</strong>
										<p class="graphic_wz">教你买买买</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa4.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">新品首发</strong>
										<p class="graphic_wz">新品享免息</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa5.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--闪购发现好货 结束-->


			<!--爱生活 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img1.jpg" alt="">
					</span>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">玩3C</strong>
										<p class="graphic_wz">iPhone 7超低价</p>
										<span class="graphic_btn" style="background-color:#ff4a7d">疯狂秒杀中</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa6.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">京东家电</strong>
										<p class="graphic_wz">满300减30</p>
										<span class="graphic_btn" style="background-color:#ff4a7d">家电家装节</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa7.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">京东超市</strong>
										<p class="graphic_wz">满199减100</p>
										<span class="graphic_btn" style="background-color:#ff4a7d">领券购实惠</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa8.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱家</strong>
										<p class="graphic_wz">家装节满99-50</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa9.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱宝宝</strong>
										<p class="graphic_wz">爆款低至5折</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa10.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#ff4a7d">美妆趴</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱美丽</strong>
										<p class="graphic_wz">美妆0元试用</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa11.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#ff4a7d">囤零食</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱吃</strong>
										<p class="graphic_wz">低至9.9包邮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa12.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#ff4a7d">抢5折</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱穿搭</strong>
										<p class="graphic_wz">开学你最潮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa13.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--爱生活 结束-->


			<!--享品质上轮播 开始-->
			<div class="floor">
				<div class="floor_item">
					<div class="container_col01 padding_x margin_top_y">
						<div class="floor_item" style="height:.72rem">
							<ul class="new_slid">
								<li class="">
									<a href="#">
										<img src="/images/index/container_col01_img1.jpg" alt="">
									</a>
								</li>

								<li class="">
									<a href="#">
										<img src="/images/index/container_col01_img2.jpg" alt="">
									</a>
								</li>
							</ul>
							<div class="focus_btn">
								<span class="focus_active"></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--享品质上轮播 结束-->


			<!--享品质 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img2.jpg" alt="">
					</span>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">玩3C</strong>
										<p class="graphic_wz">iPhone 7超低价</p>
										<span class="graphic_btn" style="background-color:#952dff">疯狂秒杀中</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa14.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">京东家电</strong>
										<p class="graphic_wz">满300减30</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa15.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">京东超市</strong>
										<p class="graphic_wz">满199减100</p>
										<span class="graphic_btn" style="background-color:#952dff">领券购实惠</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa17.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱家</strong>
										<p class="graphic_wz">家装节满99-50</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa18.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱宝宝</strong>
										<p class="graphic_wz">爆款低至5折</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa19.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#952dff">美妆趴</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱美丽</strong>
										<p class="graphic_wz">美妆0元试用</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa20.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#952dff">囤零食</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱吃</strong>
										<p class="graphic_wz">低至9.9包邮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa21.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#952dff">抢5折</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱穿搭</strong>
										<p class="graphic_wz">开学你最潮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa21.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--享品质 结束-->


			<!--购生活上轮播 开始-->
			<div class="floor">
				<div class="floor_item">
					<div class="container_col01 padding_x margin_top_y">
						<div class="floor_item" style="height:.72rem">
							<ul class="new_slid">
								<li class="">
									<a href="#">
										<img src="/images/index/container_col02_img1.jpg" alt="">
									</a>
								</li>

								<li class="">
									<a href="#">
										<img src="/images/index/container_col02_img2.jpg" alt="">
									</a>
								</li>
							</ul>
							<div class="focus_btn">
								<span class="focus_active"></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--购生活上轮播 结束-->


			<!--购生活 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img3.jpg" alt="">
					</span>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">智能生活</strong>
										<p class="graphic_wz">塑造完美身材</p>
										<span class="graphic_btn" style="background-color:#0072f2">八块腹肌</span>
									</div>
									<div class="graphic_img square_img" style="width:.8rem">
										<img src="/images/index/opa23.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#0072f2">抢神券</span>
									<div class="graphic_text">
										<strong class="graphic_tit">京东众筹</strong>
										<p class="graphic_wz">1元秒杀</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa24.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">京东旅行</strong>
										<p class="graphic_wz">今日开房特价</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa25.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">白条商城</strong>
										<p class="graphic_wz">电脑12期免息</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa26.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">特产·扶贫</strong>
										<p class="graphic_wz">四川五花腊肉</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa27.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱车生活</strong>
										<p class="graphic_wz">大牌直降</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa28.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">生活娱乐</strong>
										<p class="graphic_wz">全场5折起</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa29.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#0072f2">疯抢中</span>
									<div class="graphic_text">
										<strong class="graphic_tit">二手优品</strong>
										<p class="graphic_wz">iPhone6 秒杀</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa30.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱美丽</strong>
										<p class="graphic_wz">美妆0元试用</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa31.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱吃</strong>
										<p class="graphic_wz">低至9.9包邮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa32.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱穿搭</strong>
										<p class="graphic_wz">开学你最潮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa33.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--购生活 结束-->


			<!--逛商场上轮播 开始-->
			<div class="floor">
				<div class="floor_item">
					<div class="container_col01 padding_x margin_top_y">
						<div class="floor_item" style="height:.72rem">
							<ul class="new_slid">
								<li class="">
									<a href="#">
										<img src="/images/index/container_col03_img1.jpg" alt="">
									</a>
								</li>

								<li class="">
									<a href="#">
										<img src="/images/index/container_col03_img2.jpg" alt="">
									</a>
								</li>
							</ul>
							<div class="focus_btn">
								<span class="focus_active"></span>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--逛商场上轮播 结束-->


			<!--逛商场 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img4.jpg" alt="">
					</span>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">时尚馆</strong>
										<p class="graphic_wz">新品潮货7折购</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa34.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">美妆馆</strong>
										<p class="graphic_wz">满300减30</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa35.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer bdr_bottom">
					<div class="floor_graphic_item">
						<div class="bdr_r graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">手机数码</strong>
										<p class="graphic_wz">爆款手机特惠</p>
										<span class="graphic_btn" style="background-color:#7b1aff">新品抢购</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa36.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co102_sm">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">大家电馆</strong>
										<p class="graphic_wz">每满1500-100</p>
										<span class="graphic_btn" style="background-color:#7b1aff">家电家装节</span>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa37.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<span class="graphic_btn_min" style="background-color:#7b1aff">疯抢中</span>
									<div class="graphic_text">
										<strong class="graphic_tit">爱宝宝</strong>
										<p class="graphic_wz">爆款低至5折</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa38.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱美丽</strong>
										<p class="graphic_wz">美妆0元试用</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa39.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱吃</strong>
										<p class="graphic_wz">低至9.9包邮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa40.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱穿搭</strong>
										<p class="graphic_wz">开学你最潮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa41.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>


				<div class="floor_contianer">
					<div class="floor_graphic_item">

						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱宝宝</strong>
										<p class="graphic_wz">爆款低至5折</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa42.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱美丽</strong>
										<p class="graphic_wz">美妆0元试用</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa43.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="bdr_r graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱吃</strong>
										<p class="graphic_wz">低至9.9包邮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa44.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>


						<div class="graphic_separation graphic_co104_lobig">
							<a href="#">
								<div class="real_show">
									<div class="graphic_text">
										<strong class="graphic_tit">爱穿搭</strong>
										<p class="graphic_wz">开学你最潮</p>
									</div>
									<div class="graphic_img">
										<img src="/images/index/opa45.jpg" alt="" class="opa1">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--逛商场 结束-->



			<!--发现好店上轮播 开始-->
			<div class="floor">
				<div class="floor_item">
					<ul class="new_slid">
						<li class="">
							<a href="#">
								<img src="/images/index/container_col04_img1.jpg" alt="">
							</a>
						</li>
					</ul>
					<div class="focus_btn" style="display:none">
						<span class="focus_active"></span>
					</div>
				</div>
			</div>
			<!--发现好店上轮播 结束-->


			<!--发现好店 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img5.jpg" alt="">
					</span>
					<span class="more_shop_link">更多精彩<i></i></span>
				</div>


				<div class="floor_contianer">
					<div class="floor_item shop_item">
						<div class="bdr_r shop_list">
							<a href="#">
								<strong class="graphic_tit">休闲食品</strong>
								<p class="graphic_wz">吃货集散中心</p>
								<div class="shop_img">
									<img src="/images/index/opa46.jpg" alt="" class="opa1">
									<img src="/images/index/opa47.jpg" alt="" class="opa1">
									<p class="shop_name">三只松鼠京东自营旗舰店</p>
								</div>
							</a>
						</div>


						<div class="bdr_r shop_list">
							<a href="#">
								<strong class="graphic_tit">手机通讯</strong>
								<p class="graphic_wz">是不是在挑手机？</p>
								<div class="shop_img">
									<img src="/images/index/opa48.jpg" alt="" class="opa1">
									<img src="/images/index/opa49.jpg" alt="" class="opa1">
									<p class="shop_name">京东Apple产品专营店</p>
								</div>
							</a>
						</div>


					</div>
				</div>
			</div>
			<!--发现好店 结束-->



			<!--优选清单 开始-->
			<div class="floor">


				<div class="floor_title floor_tit_img">
					<img src="/images/index/floor-tit.png" alt="" class="floor_title_bgimg">
					<span class="tit_img">
						<img src="/images/index/tit_img6.jpg" alt="">
					</span>
					<span class="more_shop_link">更多精彩<i></i></span>
				</div>


				<div class="floor_contianer">
					<div class="floor_item shop_item">
						<div class="bdr_r live_list">
							<a href="#">
								<div class="live_title">
									<strong class="graphic_tit">
										<span class="live_tit">潮搭</span>
										<span class="live_icon"></span>
									</strong>
									<p class="graphic_wz">秒杀女装低至19块9包邮</p>
								</div>
								<div class="graphic_separation">
									<img src="/images/index/05003-lv.png" alt="">
									<div class="live_img">
										<div class="graphic_img">
											<img src="/images/index/opa54.jpg" alt="" class="opa1">
										</div>
										<div class="live_info">
											<p class="live_type"><i></i>月球上</p>
											<span class="live_animate"></span>
										</div>
									</div>
								</div>
							</a>
						</div>



						<div class="live_list">
							<a href="#">
								<div class="live_title">
									<strong class="graphic_tit">
										<span class="live_tit">潮搭</span>
										<span class="live_icon"></span>
									</strong>
									<p class="graphic_wz">秒杀女装低至19块9包邮</p>
								</div>
								<div class="graphic_separation">
									<img src="/images/index/05003-lv.png" alt="">
									<div class="live_img">
										<div class="graphic_img">
											<img src="/images/index/opa55.jpg" alt="" class="opa1">
										</div>
										<div class="live_info">
											<p class="live_type"><i></i>月球上</p>
											<span class="live_animate"></span>
										</div>
									</div>
								</div>
							</a>
						</div>


					</div>
				</div>
			</div>
			<!--优选清单 结束-->



			<!--为您推荐 开始-->
			<div class="floor love_floor" id="recommend">
				<div class="gray_text">
					<span class="gray_layout">
						<span class="gray_text_img"></span>为您推荐
					</span>
				</div>
				<ul class="find_similar_ul">

					<li class="similar_li li_left">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li1.jpg" alt="">
								</div>
								<span class="similar_product_text">【京东超市 好评过万】日本马油脚气膏有效去除脚臭脚痒脚脱皮脚汗烂脚丫不复发泡脚药非药喷剂 脚气膏</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">56</span>
										<span class="small_price">.00</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率94%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


					<li class="similar_li li_right">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li2.jpg" alt="">
									<p class="similar_tipwz">大家都在买的热销商品</p>
								</div>
								<span class="similar_product_text">摆渡人　【荐书联盟推荐】</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">16</span>
										<span class="small_price">.40</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率99%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


					<li class="similar_li li_left">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li3.jpg" alt="">
								</div>
								<span class="similar_product_text">Aic 手电筒强光充电超亮防水5000 远射打猎户外军家用可迷你小LED 远射300米 led灯芯 持久续航可充电</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">48</span>
										<span class="small_price">.50</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率95%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


					<li class="similar_li li_right">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li4.jpg" alt="">
								</div>
								<span class="similar_product_text">【京东超市】金龙鱼 食用油 非转基因 压榨 一级 纯正玉米油4L</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">19</span>
										<span class="small_price">.90</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率100%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


					<li class="similar_li li_left">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li5.jpg" alt="">
								</div>
								<span class="similar_product_text">【京东超市】蓝月亮 深层洁净洗衣液（薰衣草）1kg/瓶 （新老包装随机发货）</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">19</span>
										<span class="small_price">.80</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率94%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


					<li class="similar_li li_right">
						<a href="#">
							<div class="similar_product">
								<div class="similar_posre">
									<img src="/images/index/similar_li6.jpg" alt="">
								</div>
								<span class="similar_product_text">【买2赠1】比苛（Pkcell）碳性电池20粒AA5号+20粒AAA7号遥控器/电子秤适用</span>
								<p class="similar_product_info">
									<span class="similar_product_prrice">
										¥<span class="big_price">22</span>
										<span class="small_price">.29</span>
									</span>
								</p>
								<p class="praise_info">
									<span class="praise_num">好评率94%</span>
									<span class="guess_button J_ping">看相似</span>
								</p>
							</div>
						</a>
					</li>


				</ul>
				<div class="swipe_up love_loading" id="recommendListload">
					<div class="swipe_up_wrapper">
						<div class="loading_con" id="recommendListloadImg" style="display:none">
							<span class="pagenum" id="showPageID"></span>
							<span class="loading"><i class="love_loading_icon">加载中</i></span>
							<div class="clear"></div>
						</div>
						<div class="click_loading" id="recommendListLoadMoreBtn">
							<a href="#">点击继续加载</a>
						</div>
					</div>
				</div>

				<footer class="jd_footer">
					<div class="jd_1px_line_up"></div>
					<ul class="jd_footer_links">
						<li>
							<a href="http://localhost:3000/static/login_index.html">登录</a>
						</li>
						<li>
							<a href="http://localhost:3000/static/login_index.html">注册</a>
						</li>
						<li>
							<a href="#">反馈</a>
						</li>
						<li>
							<a href="#">回到顶部</a>
						</li>
					</ul>
					<div class="jd_1px_line_up"></div>


					<ul class="jd_footer_platforms">
						<li class="jd_footer_icon_apps">
							<a href="#" class="badge J_ping">客户端</a>
						</li>

						<li class="jd-footer-icon-touchscreen current">
							<a href="#" class="J_ping">触屏版</a>
						</li>

						<li class="jd_footer_icon_pc">
							<a href="#" class="J_ping" id="layout_toPcHome">电脑版</a>
						</li>
					</ul>
					<div class="jd_1px_line_up"></div>
					<div class="jd_footer_copyright">Copyright © 2004-2017 京东JD.com 版权所有</div>
					<div class="jd_footer_copyright_footer"></div>
				</footer>
			</div>
			<!--为您推荐 结束-->
		</div>
	</div>
	<!--中间内容 开始-->



	<!--固定底部 开始-->
			<div class="floor bottom_bar_pannel">
				<div class="floor_contianer bdr_top">
					<ul class="tab5">

						<li id="bar_recommend" style="display:none">
							<span class="bar_img">
								<img src="/images/index/a-recommend.png" alt="">
							</span>
						</li>


						<li id="bar_top">
							<span class="bar_img">
								<img src="/images/index/a-top.png" alt="">
							</span>
						</li>


						<li>
							<span class="bar_img">
								<a href="http://localhost:3000/static/categorylistings.html">
									<img src="/images/index/n-catergry.png" alt="">
								</a>
							</span>
						</li>


						<li>
							<span class="bar_img">
								<a href="http://localhost:3000/static/discover.html">
									<img src="/images/index/n-find.png" alt="">
								</a>
							</span>
						</li>


						<li>
							<span class="bar_img">
								<a href="http://localhost:3000/static/unlisted_cart.html">
									<img src="/images/index/n-cart.png" alt="">
								</a>
							</span>
						</li>


						<li>
							<span class="bar_img">
								<a href="http://localhost:3000/static/login_index.html">
									<img src="/images/index/n-me.png" alt="">
								</a>
							</span>
						</li>
					</ul>
				</div>
			</div>
	<!--固定底部 结束-->




	<!--固定头部 开始-->
	<div class="showfixedtop" id="fixedtop">
		<div class="download_pannel" id="download_bannel">
			<div class="pannel_bg">
				<img src="/images/index/download_bg.png" alt="固定头部背景图">
			</div>
			<div class="download_close" id="download_close">
				<img src="/images/index/icon-close-banner.png" alt="关闭按钮">
			</div>
			<div class="download_logo">
				<img src="/images/index/top-jdlogo.png" alt="京东标志">
			</div>
			<div class="download_txt">
				<em class="download_txt_up">打开京东App购物</em>
				<em class="download_txt_down">新人领188元红包</em>
			</div>
			<div class="download_action">
				<a id="download_openapp" href="#">立即打开</a>
			</div>
		</div>
		<div id="index_search_main">
			<div class="jd_search_box_cover" id="jd_search_box_cover"></div>
			<div class="search_main">
				<div class="search_left">
				<div class="search_box">
					<span class="logotxt_Jping"></span>
					<span class="search_ico"></span>
					<div class="search_txt_box">
						<input type="text" placeholder="点亮新世界，松下99周年大放价">
					</div>
				</div>
				</div>
				<div class="search_right">
					<a href="http://localhost:3000/static/login_index.html">登录</a>
				</div>
			</div>
		</div>
	</div>
	<!--固定头部 开始-->

<script type="text/javascript" src="/javascripts/way_base.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>

</body>
</html>
