<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>京东注册</title>
	<meta name="author" content="pengli">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-cappable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--设置html的font-size 开始-->
	<script type="text/javascript">
	function htmlFont(){
		var explorer=navigator.userAgent;
		if(explorer.indexOf("Opera")>=0){
			winwid=screen.width;
		}else{
			winwid=document.getElementsByTagName('html')[0].offsetWidth;
		}
		fosi=winwid/320*100;
		document.getElementsByTagName('html')[0].style.fontSize=fosi+'px';
	}
	htmlFont();
	window.addEventListener('resize',htmlFont);
	</script>
<!--设置html的font-size 开始-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/login/user_log_on.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
</head>
</head>
<body>
	<!--登陆头部 开始-->
	<header id="header">
		<span class="icon" id="icon_goback"></span>
		<span class="text_header">京东注册</span>
	</header>
	<!--登陆头部 结束-->


	<!--登陆内容 开始-->
	<section class="page">
		<div class="wrap loginPage">

			<!--短信验证码登录 开始-->
			<div class="input_container" id="input_code">
				<input type="text" id="imgCode" class="acc_input imgverify J_ping txt_input" placeholder="请输入图片验证码">
				<span class="code_box">
					<img src="/images/login/authcode" alt="" id="imgcode" class="J_ping">
				</span>
				<i class="icon icon_clear_zhuce" id="imgCodeClear" style="display:none"></i>
			</div>

			<div class="input_box">
				<div class="input_container">
					<label for="" class="area_box J_ping">
						<span class="area_code">+86</span>
						<i class="area_icon"></i>
					</label>
					<input type="text" id="telphone" class="acc_input telphone txt_input J_ping" placeholder="请输入手机号">
					<i class="icon icon_clear_zhuce" id="telClear" style="display:none"></i>
				</div>
				<button class="mesg_code mesg_disable J_ping" id="mesgCode">获取验证码</button>
			</div>


			<div class="input_container">
				<input type="text" id="telCode" class="telCode acc-input J_ping" placeholder="请输入手机验证码">
				<i class="icon icon_clear_zhuce_telCode" id="telcodeClear" style="display:none"></i>
			</div>


			<div class="input_container">
				<input type="password" id="password" class="acc_input password txt_input J_ping" placeholder="请设置6-20位登录密码">
				<i class="icon icon_clear_pass" id="pwdClear" style="display:none"></i>
				<label for="" class="label_checkbox J_ping">
					<input type="checkbox" id="onOff_pwd" style="display:none">
					<div class="checkbtn" id="checkbtn"></div>
				</label>
			</div>
			<!--短信验证码登录 结束-->

			<div class="noice">
				<span class="notice_def" id="notice">密码由6-20位字母、数字或半角符号组成，不能是10位以下纯数字/字母/半角符号，字母需区分大小写</span>
			</div>
			<a href="#" id="regBtn" class="btn J_ping">注 册</a>

			<p class="reg_notice">
				<span class="txt_reg_notice">注册即视为同意
					<a href="#" class="txt-reg-agreement">《京东用户注册协议》</a>
					<a href="#" class="txt-user-rivacy">《用户隐私政策》</a>
					<span class="txt_and"></span>
					<a href="#" class="txt-JD-wallet">《京东钱包服务协议》</a>
				</span>
			</p>
		</div>
	</section>
	<!--登陆内容 结束-->


	<div class="toast_ui">
		<span class="toast">注册成功</span>
	</div>

	<!--注册及隐私政策弹窗 开始-->
	<div class="agreement_dialog" id="agreement_dialog">
		<div class="agreement_body">
			<div class="agreement_msg">
				<p class="agreement_title">注册协议及隐私政策</p>
				<div class="agreement_line clearfix"></div>
				<div class="agreement_concent">
					<p>
						在您注册成为京东用户的过程中，您需要完成我们的注册流程并通过点击同意的形式在线签署以下协议，<span class="important_tip">请您务必仔细阅读、充分理解协议中的条款内容后再点击同意（尤其是以粗体并下划线标识的条款，因为这些条款可能会明确您应履行的义务或对您的权利有所限制）：</span>
					</p>
					<p class="link_top">
						<a href="#">《京东用户注册协议》</a>
					</p>
					<p class="link_concent">
						<a href="#">《用户隐私政策》</a>
					</p>
					<p class="link_bottom">
						<a href="#">《订单共享与安全》</a>
					</p>
					<p>
						<span class="important_tip">【请您注意】如果您不同意上述协议或其中任何条款约定，请您停止注册。您停止注册后将仅可以浏览我们的商品信息但无法享受我们的产品或服务。如您按照注册流程提示填写信息、阅读并点击同意上述协议且完成全部注册流程后，即表示您已充分阅读、理解并接受协议的全部内容；并表明您也同意京东可以依据以上的隐私政策内容来处理您的个人信息。</span>
						如您对以上协议内容有任何疑问，您可随时与京东客服联系。
					</p>
				</div>
				<div class="agreement_btn_wrap">
					<div class="agreement_notice">
						<span>
						点击同意即表示您已阅读并同意
							<a href="#">《京东用户注册协议》</a>
							<a href="#">《京东隐私政策》</a>
							并将您的订单信息共享给为完成此订单所必须的第三方合作方。关于
							<a href="#">《订单共享与安全》</a>
						</span>
					</div>
					<div class="agreement_btns">
						<a href="#" class="agreement_btn agreement_btn_cancel clearfix" id="agreeCancel">不同意</a>
						<a href="#" class="agreement_btn btn_complete clearfix" id="agree">同意</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--注册及隐私政策弹窗 结束-->
	<script type="text/javascript" src="/javascripts/way_base.js"></script>
	<script type="text/javascript" src="/javascripts/login/user_log_on.js"></script>
</body>
</html>
